.component-container {
    overflow: hidden;
    main {
        flex: 1;
        display: flex;
        flex-flow: column;
        overflow-y: auto;
        overflow-x: hidden;
        padding: 10px;

        .book {
            background-color: var(--bg-card);
            display: flex;
            flex-flow: column;
            margin: 5px auto;
            max-width: 700px;
            width: 100%;

            a {
                color: var(--text-color);
                text-decoration: none;
                text-align: center;
                margin: 5px;
                cursor: pointer;

                h2 {

                }

                p {

                }
            }

            &:hover {
                background-color: var(--bg-sidebar);
            }

            &:first-child {
                margin-top: 0;
            }
        }
    }
}