.generator {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 100px);

    .grid {
        .form-control {
            .note { display: none; }
            &.advanced { display: none; }
        }
    }

    &.advanced {
        .grid {
            .form-control { display: flex; }
        }
    }

    &.hints {
        .grid {
            .form-control {
                .note {
                    display: inline-block;
                }
            }
        }
    }

    footer {
        display: flex;
        flex-flow: row;

        button {
            margin-left: auto;
        }
    }
}

h2 {
    margin: 0;
    margin-bottom: 10px;
}