<cba-popup #popup>
    <h2>Image Generation:</h2>
    <div class="loading" *ngIf="loading">
        <img src="/assets/loading.gif" alt="Loading Icon" />
        <span>Loading...</span>
    </div>

    <div class="error" *ngIf="error || issues.length > 0">
        <p>There was an error with your request! {{ error }}</p>
        <ul>
            <li *ngFor="let issue of issues">{{ issue }}</li>
        </ul>

        <button class="btn" (click)="clear()">
            <cba-icon>navigate_before</cba-icon>
        </button>
    </div>

    <div class="generator" *ngIf="!loading && !error && issues.length <= 0" [ngClass]="{ 'hints': hints, 'advanced': advanced }">
        <div class="grid by-3">
            <div class="form-control checkbox">
                <label>
                    <input type="checkbox" [(ngModel)]="img" />
                    Image 2 Image
                </label>
            </div>

            <div class="form-control checkbox">
                <label>
                    <input type="checkbox" [(ngModel)]="hints" />
                    Show Hints
                </label>
            </div>

            <div class="form-control checkbox">
                <label>
                    <input type="checkbox" [(ngModel)]="advanced" />
                    Advanced Config
                </label>
            </div>

        </div>

        <div class="grid">
            <div class="form-control">
                <label>Prompt:</label>
                <textarea [(ngModel)]="request.prompt" placeholder="What do you want me to generate?"></textarea>
                <p class="note">These are any key words you want the algorithm to use to generate your image.</p>
            </div>

            <div class="form-control">
                <label>Negative Prompt:</label>
                <textarea [(ngModel)]="request.negative_prompt" placeholder="What things do you want me to avoid?"></textarea>
                <p class="note">These are any key words you want the algorithm to actively avoid.</p>
            </div>

            <div class="form-control advanced">
                <label>Steps:</label>
                <input type="number" [(ngModel)]="request.steps" min="1" max="64" step="1" />
                <p class="note">The number of sampling steps to use during the generation (Min: 1, Max: 64)</p>
            </div>

            <div class="form-control advanced">
                <label>CFG Scale:</label>
                <input type="number" [(ngModel)]="request.cfg_scale" min="1" max="32" step="0.5" />
                <p class="note">How strongly the image should conform to prompt - lower values produce more creative results (Min: 1, Max: 32)</p>
            </div>

            <div class="form-control advanced">
                <label>Batch Count:</label>
                <input type="number" [(ngModel)]="request.n_iter" min="1" max="2" />
                <p class="note">How many different batches of images to create. (Min: 1, Max: 2)</p>
            </div>

            <div class="form-control advanced">
                <label>Batch Size:</label>
                <input type="number" [(ngModel)]="request.batch_size" min="1" max="4" />
                <p class="note">How many images to create in a single batch. (Min: 1, Max: 4)</p>
            </div>

            <div class="form-control advanced">
                <label>Seed:</label>
                <input type="number" [(ngModel)]="request.seed" />
                <p class="note">A value that determines the output of random number generator (-1 = Random Seed)</p>
            </div>

            <div class="form-control advanced">
                <label>Width:</label>
                <input type="number" [(ngModel)]="request.width" min="64" max="1024" step="64" />
                <p class="note">The width of the generated image (Min: 64, Max: 1024)</p>
            </div>

            <div class="form-control advanced">
                <label>Height:</label>
                <input type="number" [(ngModel)]="request.height" min="64" max="1024" step="64"  />
                <p class="note">The height of the generated image (Min: 64, Max: 1024)</p>
            </div>
            <ng-container *ngIf="img">
                <div class="form-control">
                    <label>Image URL:</label>
                    <input type="url" [(ngModel)]="request.init_images[0]" />
                    <p class="note">This is the base image to use when generating an image. This has to be a URL directly to the image, this cannot target a web-page.</p>
                </div>
                <div class="form-control">
                    <label>Denoise Strength:</label>
                    <input type="number" [(ngModel)]="request.denoise_strength" min="0.0" max="1.0" step="0.1" />
                    <p class="note">Determines how little respect the algorithm should have for image's content. The lower the closer to the original image (Min: 0.0, Max: 1.0)</p>
                </div>
            </ng-container>
        </div>

        <footer>
            <button class="btn" (click)="generate()">
                <cba-icon>add_photo_alternate</cba-icon>
            </button>
        </footer>

    </div>
</cba-popup>
