<cba-container flex-flow="column" *ngIf="user">
    <div class="chat-wrapper" *ngIf="chat$ | async as messages">
        <header>
            <h2>Need someone to talk to? I feel ya.</h2>
        </header>
        <main #scrollMe>
            <div class="messages" *ngFor="let msg of messages" [ngClass]="msg.role">
                <img [src]="msg.role === 'user' ? user.avatar : '/assets/loading.gif'" />
                <div class="message">
                    <div class="username">{{ msg.role === 'user' ? user.nickname : 'Cardboard Box' }}</div>
                    <div class="content marked-container" [markdown]="msg.content"></div>
                </div>
            </div>
            <div class="thinking" *ngIf="loading">
                <img src="/assets/loading.gif" />
                <p>One sec, I'm thinking!</p>
            </div>
        </main>
        <footer>
            <textarea placeholder="Type a message!" [disabled]="loading" [(ngModel)]="message" (keyup.enter)="send()"></textarea>
        </footer>
    </div>
</cba-container>