h1 {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
}

.circle-rotater {
    position: absolute;
    top: 50%; left: 50%;
    width: 80vh; height: 80vh;
    transform-origin: center;
    transform: translate(-50%, -50%);
    animation: dospin 10s linear infinite;

    &.delay-1 { animation-delay: 2.5s; }
    &.delay-2 { animation-delay: 5s; }
    &.delay-3 { animation-delay: 7.5s; }
}

@keyframes dospin {
    0% {
        transform: translate(-50%, -50%) rotate3d(0, 0, 0, 0);
    }

    50% {
        transform: translate(-50%, -50%) rotate3d(1, 1, 1, 180deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate3d(1, 1, 1, 360deg);
    }
}