:root {
    --text-color: #dcddde;
    --text-color-muted: #555;

    --bg-main: #060606;
    --bg-menu: #010101;

    --accent-1: #726ae4;
    --accent-2: #6665DD;

    --dgr-color: rgb(255, 61, 61);
    --dgr-color-trans: rgba(255, 61, 61, 0.7);
    --wrn-color: orange;
    --suc-color: rgb(0, 255, 0);
    --def-color: #6665DD;

    --brd-color: #efefefef;
    --brd-color-accent: rgba(255, 255, 255, 0.12);

    --discord-bg: #36393f;
    --discord-bg-2: #2f3136;
    --discord-txt: #dcddde;
    --discord-txt-muted: #8f8f8f;

    --bg-header: #111111;
    --bg-sidebar: #1b1b1b;
    --bg-card: #302e42;

    --color-crunchyroll: rgb(244, 117, 33);
    --color-vrvselect: rgb(128, 130, 133);
    --color-mondo: rgb(233, 55, 53);
    --color-vrv: #fd0;
    --color-funimation: #6030a1;
}

.component-container {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
}

.bump {
    flex: 1;
}