.manga {
    display: flex;
    flex-flow: row;
    padding: 15px;
    max-width: 700px;
    width: 100%;
    margin: 10px auto;
    text-decoration: none;
    max-height: 330px;

    background-color: var(--bg-card);

    .image {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 200px;
        height: 300px;
    }

    .details {
        flex: 1;
        display: flex;
        flex-flow: column;
        margin-left: 10px;
        max-height: 300px;
        overflow: hidden;

        .title {
            font-size: 1.5em;
            font-weight: 700;
        }

        .tags {
            .header {
                display: inline-block;
                font-weight: bold;
            }

            .tag {
                display: inline-block;
                padding: 3px 5px;
                margin: 3px;
                background-color: var(--def-color);
                border: 1px solid var(--brd-color-accent);
                border-radius: 3px;
            }
        }
    }
}

.popup {
    display: flex;
    flex-flow: column;

    h2 {
        margin: 0;
        padding: 0;
    }

    section {
        margin: 5px 0;
        display: flex;
        flex-flow: column;

        &.buttons {
            flex-flow: row;
        }

        p {
            padding: 0;
            margin: 0;

            &.code {
                font-family: monospace;
                padding: 10px;
                border: 1px solid var(--accent-2);
                border-radius: 5px;
                margin-top: 5px;
            }
        }

        button:first-child {
            margin-left: auto;
        }

        input {
            background-color: var(--bg-accent);
            outline: none;
            border: 1px solid var(--bg-accent);
            border-radius: 5px;
            padding: 10px;
            color: var(--text-color);
        }

        .loading {
            display: flex;
            flex-flow: row;
            margin: auto;

            img {
                width: 50px;
                height: 50px;
            }

            span {
                margin: auto 5px;
            }
        }

        &.tags {
            display: flex;
            flex-flow: row wrap;

            button {
                outline: none;
                border: 1px solid var(--accent-2);
                background-color: transparent;
                color: var(--text-color);
                padding: 5px;
                display: flex;
                flex-flow: row;
                margin: 3px;
                border-radius: 3px;
                cursor: pointer;

                span {
                    margin: auto 0;
                }

                &.include {
                    border-color: var(--suc-color);
                }

                &.exclude {
                    border-color: var(--dgr-color);
                }
            }
        }

        &.toggles {
            display: flex;
            flex-flow: row;

            span {
                margin: auto 0;
                flex: 1;
            }

            button {
                background-color: transparent;
                border: 1px solid var(--color-hidive);
                outline: none;
                padding: 5px;
                color: var(--text-color);
                border-radius: 5px;
                cursor: pointer;

                &.active {
                    background-color: var(--color-hidive-dark);
                }

                &:last-child {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border-left: none;
                }

                &:not(:last-child) {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }
    }
}

.masked-overflow {
    --scrollbar-width: 0px;
    --mask-height: 32px;
    --mask-image-content: linear-gradient(
        to bottom,
        black,
        black calc(100% - var(--mask-height)),
        transparent
    );
    --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
    --mask-image-scrollbar: linear-gradient(black, black);
    --mask-size-scrollbar: var(--scrollbar-width) 100%;
    mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat, no-repeat;
}