<cba-container [ifs-enabled]="true" (ifs)="onScroll()" flex-flow="row wrap">
    <cba-manga-card *ngFor="let manga of data" [data]="manga"></cba-manga-card>
</cba-container>

<div class="float-icons">
    <button class="float-icon" (click)="add()">
        <cba-icon>add</cba-icon>
    </button>
    <button class="float-icon" (click)="filter()">
        <cba-icon>search</cba-icon>
    </button>
    <a class="float-icon" [routerLink]="['/manga', 'in-progress']">
        <cba-icon>collections_bookmark</cba-icon>
    </a>
</div>

<cba-popup #popup [background]="!loading">
    <cba-manga-add></cba-manga-add>
</cba-popup>

<cba-manga-search-filters></cba-manga-search-filters>