.popup {
    display: flex;
    flex-flow: column;
    max-height: 80vh;
    overflow: auto;

    h2 {
        margin: 0;
        padding: 0;
    }

    section {
        margin: 5px 0;
        display: flex;
        flex-flow: column;

        &.buttons {
            flex-flow: row;
        }

        p {
            padding: 0;
            margin: 0;

            &.code {
                font-family: monospace;
                padding: 10px;
                border: 1px solid var(--accent-2);
                border-radius: 5px;
                margin-top: 5px;
            }
        }

        button:first-child {
            margin-left: auto;
        }

        input {
            background-color: var(--bg-accent);
            outline: none;
            border: 1px solid var(--bg-accent);
            border-radius: 5px;
            padding: 10px;
            color: var(--text-color);
        }

        .loading {
            display: flex;
            flex-flow: row;
            margin: auto;

            img {
                width: 50px;
                height: 50px;
            }

            span {
                margin: auto 5px;
            }
        }

        &.tags {
            display: flex;
            flex-flow: row wrap;

            button {
                outline: none;
                border: 1px solid var(--accent-2);
                background-color: transparent;
                color: var(--text-color);
                padding: 5px;
                display: flex;
                flex-flow: row;
                margin: 3px;
                border-radius: 3px;
                cursor: pointer;

                span {
                    margin: auto 0;
                }

                &.include {
                    border-color: var(--suc-color);
                }

                &.exclude {
                    border-color: var(--dgr-color);
                }
            }
        }

        &.toggles {
            display: flex;
            flex-flow: row wrap;

            span {
                margin: auto 0;
                flex: 1;
            }

            .btn-group {
                display: flex;
                flex-flow: row wrap;
                margin-left: 5px;

                button {
                    background-color: transparent;
                    border: 1px solid var(--color-hidive);
                    outline: none;
                    padding: 5px;
                    color: var(--text-color);
                    cursor: pointer;
    
                    &.active {
                        background-color: var(--color-hidive-dark);
                    }
    
                    &:last-child {
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }

                    &:not(:first-child) {
                        border-left: none;
                    }
    
                    &:first-child {
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }
                }
            }           
        }
    }
}