.alert {
    display: flex;
    flex-flow: row;
    margin: 10px auto;
    border: 1px solid var(--brd-color-accent);
    background-color: rgba(255, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;

    p {
        flex: 1;
        margin: auto 0;
    }

    button {
        margin: auto 0;
        margin-left: 10px;
        background-color: transparent;
        outline: none;
        border: none;
        color: var(--text-color);
        cursor: pointer;
    }
}

header {
    display: flex;
    flex-flow: row;
    margin: 10px auto;
    border: 1px solid var(--brd-color-accent);
    border-radius: 10px;
    max-width: 600px;
    width: 95%;

    .file-input {
        display: none;
    }

    input {
        flex: 1;
        background-color: transparent;
        color: var(--text-color);
        border: none;
        outline: none;
        margin: 10px;
    }

    button {
        background-color: transparent;
        outline: none;
        border: none;
        border-left: 1px solid var(--brd-color-accent);
        color: var(--text-color);
        height: 100%;
        padding: 10px;
        cursor: pointer;
    }
}

main {
    display: flex;
    flex-flow: row wrap;

    &.center {
        flex: 1;

        p {
            margin: auto;
        }
    }

    h3 {
        margin: 5px;
        width: 100%;
        text-align: center;
    }

    .best-guess {
        width: 100%;
        margin: 0 10px;
    }

    .result-container {
        width: 50%;
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        flex-flow: column;
        overflow: hidden;
    }
}

@media only screen and (max-width: 1450px) {
    .result-container {
        width: 100% !important;
    }
}
