<cba-container [loading]="loading" flex-flow="column" [handle-scroll]="true">
    <div class="alert" *ngIf="showNewPopup">
        <p>There is a new version of the manga search page! You can check it out <a href="https://mangabox.app/reverse">here!</a></p>
        <button (click)="showNewPopup = !showNewPopup">&times;</button>
    </div>
    <header>
        <input type="file" class="file-input" accept="image/*" (change)="selected($event)" #fileInput />
        <input type="url" placeholder="Manga title or page image URL" [(ngModel)]="url" (keyup.enter)="search()" />
        <button (click)="fileInput.click()" cba-tooltip="Search by Uploaded File" direction="down">
            <cba-icon>image</cba-icon>
        </button>
        <button (click)="search()" cba-tooltip="Search by title or page image URL" direction="down">
            <cba-icon>search</cba-icon>
        </button>
    </header>
    <main *ngIf="results && !results.bestGuess" class="center">
        <p>Unfortunately, I couldn't find anything that matches the given image.</p>
    </main>
    <main *ngIf="results && results.bestGuess">
        <h3>Best Guess:</h3>
        <div class="best-guess">
            <div class="result-container">
                <cba-manga-card [search]="best"></cba-manga-card>
            </div>
        </div>

        <ng-container *ngIf="combined.length > 1">
            <h3>More Results: </h3>
            <div class="result-container" *ngFor="let res of combined">
                <cba-manga-card [search]="res"></cba-manga-card>
            </div>
        </ng-container>
    </main>
</cba-container>
