$section-width: 550px;

header {
    display: flex;
    flex-flow: row;
    margin: 10px;

    .image {
        width: 300px;
        min-height: 400px;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 5px;
    }

    .details {
        display: flex;
        flex-flow: column;
        flex: 1;

        .title {
            display: flex;

            a {
                font-size: 2em;
                text-decoration: none;
                cursor: pointer;
            }
        }

        .attribution {
            display: inline-block;

            .type {
                font-weight: bold;
                display: inline-block;
                margin-right: 5px;
            }

            .value {
                display: inline;

                span, a {
                    text-transform: capitalize;
                    &:not(:last-child)::after { content: ', '; }
                }

                a {
                    color: var(--text-color);
                    text-decoration: none;
                }
            }
        }

        .buttons {
            margin-top: auto;
            display: flex;
            flex-flow: row;

            button, a {
                margin: 0 5px;
                padding: 10px 15px;
                display: flex;
                flex-flow: row;
                cursor: pointer;
                background-color: var(--bg-card);
                color: var(--text-color);
                outline: none;
                border: 1px solid var(--bg-card);
                border-radius: 5px;
                font-size: 16px;
                text-decoration: none;
                p { margin: auto 3px; }
            }
        }

        .description {
            overflow: auto;
            max-height: 300px;
            padding: 0 5px;
        }
    }
}

h2 {
    padding: 0;
    margin: 5px 0;
}

.bookmarks {
    display: flex;
    flex-flow: column;
}

.drawer {
    margin: 5px 1.25%;
    display: flex;
    flex-flow: column;
    background-color: var(--bg-card);

    .title {
        display: flex;
        flex-flow: row;
        padding: 5px;
        cursor: pointer;

        .text {
            margin: auto;
            display: flex;
            flex-flow: row;

            p {
                margin: auto;
                padding: 0;
            }
        }
    }

    .opener {
        overflow: hidden;
        max-height: 0;
        display: flex;
        flex-flow: column;
        transition: max-height 250ms;
        
        .wrapper {
            border-top: 1px solid var(--brd-color-accent);
            padding: 10px;
            display: flex;
            flex-flow: column;
        
            .tags {
                .header {
                    font-weight: bold;
                    display: inline-block;
                    width: 100%;
                    margin: 3px;
                }
    
                .tag {
                    display: inline-block;
                    padding: 3px 5px;
                    margin: 3px;
                    background-color: var(--def-color);
                    border: 1px solid var(--brd-color-accent);
                    border-radius: 5px;
                    text-decoration: none;
                    cursor: pointer;
    
                    &.secondary {
                        background-color: var(--color-hidive-dark);
                        border: 1px solid var(--color-hidive);
                        cursor: default;
                    }
    
                    &.nsfw {
                        background-color: var(--dgr-color);
                        cursor: default;
                    }
    
                    &.tertiary {
                        background-color: var(--bg-card);
                        border: 1px solid var(--bg-accent);
                        cursor: default;
                    }
    
                    &.md {
                        color: #fff;
                        background-color: #ff6740;
                        border: 1px solid #e6613e;
                    }
                }
            }
        }
    }

    &.open {
        .opener { 
            max-height: 900px;
        }
    }
}

.content-wrapper {
    display: flex;
    flex-flow: row;

    .draw-wrapper {
        width: $section-width;
        margin: 10px 5px;

        .drawer {
            margin: 0;
        }
    }

    .volumes {
        flex: 1;
        display: flex;
        flex-flow: column;
        margin-left: 5px;
        
        .chapter-header {
            margin: 10px 0;
            width: 100%;
            display: flex;
            flex-flow: row;
            background-color: var(--bg-card);

            p {
                margin: auto 5px;
                padding: 7.5px 0;
            }

            button {
                display: flex;
                flex-flow: row;
                background-color: var(--bg-card);
                outline: none;
                border: none;
                color: var(--text-color);
                cursor: pointer;
                margin: 0 5px;
                padding-left: 5px;

                span {
                    margin: auto 5px;
                }

                &.active {
                    background-color: var(--accent-1);
                }
            }

            :first-child {
                margin-right: auto;
            }
        }

        .volume {
            display: flex;
            flex-flow: column;
            position: relative;
            margin: 10px 0;

            .name {
                position: absolute;
                top: 50%;
                left: 5px;
                transform: rotate(-90deg) translateX(-40%);
                transform-origin: left;
                background-color: var(--bg-accent);
            }

            .chapters {
                margin-left: 5px;
                display: flex;
                flex-flow: column;
                border-left: 3px solid var(--brd-color-accent);
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                padding: 10px;

                .chapter {
                    padding: 15px;
                    background-color: var(--bg-card);
                    text-decoration: none;
                    display: flex;
                    flex-flow: column;
                    margin: 5px;

                    .header, .footer {
                        display: flex;
                        flex-flow: row;
                        position: relative;
            
                        :not(:first-child) { margin-left: auto; }
            
                        .number, .title, .lang, .timings, .attr {
                            display: flex;
                            flex-flow: row;
            
                            span { margin: auto 5px; }
                        }

                        .attr {
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                    :not(:first-child) { margin-top: 5px; }
            
                    &.active {
                        background-color: var(--color-hidive-dark);
                        border: 1px solid var(--color-hidive);
                    }

                    &.resume { background-color: var(--accent-1); }
                }
            }
        }
    }

    main {
        flex: 1;
    }
}

@media only screen and (max-width: 950px) {
    header .details .buttons {
        button,a { p { display: none; } }
    }

    .content-wrapper {
        flex-flow: column;

        .draw-wrapper {
            width: 100%;
            margin: 5px 0;
        }
    }

    .volumes {
        margin-left: 0 !important;

        .volume {
            margin: 0 !important;
            margin-top: 10px !important;
            padding-top: 10px;
            border-top: 3px solid var(--brd-color-accent);

            .name {
                top: -10px !important;
                left: 50% !important;
                transform: translateX(-50%) !important;
            }

            .chapters {
                margin-left: 0 !important;
                padding: 0 !important;
                border-left: none !important;

                .chapter {
                    margin: 5px 0 !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    header {
        flex-flow: column !important;

        .title {
            a { margin: 5px auto; }
        }

        .image {
            margin: 0 auto !important;
            width: 100%;
        }

        .details {
            margin-right: 0;
            max-height: unset;
            overflow-y: unset;

            .buttons { margin: 0 auto; }

            .description {
                max-height: unset;
                overflow: hidden;
            }
        }
    }

    .drawer { margin: 5px 0; }
}