$section-width: 550px;
$select-list-padding: 10px;

header {
    display: flex;
    flex-flow: row;
    margin: 10px;

    .image {
        width: 300px;
        min-height: 400px;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 5px;
    }

    .details {
        display: flex;
        flex-flow: column;
        flex: 1;

        .title {
            display: flex;

            a {
                font-size: 2em;
                text-decoration: none;
                cursor: pointer;
            }
        }

        .attribution {
            display: inline-block;

            .type {
                font-weight: bold;
                display: inline-block;
                margin-right: 5px;
            }

            .value {
                display: inline;

                span, a {
                    text-transform: capitalize;
                    &:not(:last-child)::after { content: ', '; }
                }

                a {
                    color: var(--text-color);
                    text-decoration: none;
                }
            }
        }

        .buttons {
            margin-top: auto;
            display: flex;
            flex-flow: row;

            button, a {
                margin: 0 5px;
                padding: 10px 15px;
                display: flex;
                flex-flow: row;
                cursor: pointer;
                background-color: var(--bg-card);
                color: var(--text-color);
                outline: none;
                border: 1px solid var(--bg-card);
                border-radius: 5px;
                font-size: 16px;
                text-decoration: none;
                p { margin: auto 3px; }
            }
        }

        .description {
            overflow: auto;
            max-height: 300px;
            padding: 0 5px;
        }
    }
}

h2 {
    padding: 0;
    margin: 5px 0;
}

.bookmarks {
    display: flex;
    flex-flow: column;
}

.drawer {
    margin: 5px 1.25%;
    display: flex;
    flex-flow: column;
    background-color: var(--bg-card);

    .title {
        display: flex;
        flex-flow: row;
        padding: 5px;
        cursor: pointer;

        .text {
            margin: auto;
            display: flex;
            flex-flow: row;

            p {
                margin: auto;
                padding: 0;
            }
        }
    }

    .opener {
        overflow: hidden;
        max-height: 0;
        display: flex;
        flex-flow: column;
        transition: max-height 250ms;
        
        .wrapper {
            border-top: 1px solid var(--brd-color-accent);
            padding: 10px;
            display: flex;
            flex-flow: column;
        
            .tags {
                .header {
                    font-weight: bold;
                    display: inline-block;
                    width: 100%;
                    margin: 3px;
                }
    
                .tag {
                    display: inline-block;
                    padding: 3px 5px;
                    margin: 3px;
                    background-color: var(--def-color);
                    border: 1px solid var(--brd-color-accent);
                    border-radius: 5px;
                    text-decoration: none;
                    cursor: pointer;
    
                    &.secondary {
                        background-color: var(--color-hidive-dark);
                        border: 1px solid var(--color-hidive);
                        cursor: default;
                    }
    
                    &.nsfw {
                        background-color: var(--dgr-color);
                        cursor: default;
                    }
    
                    &.tertiary {
                        background-color: var(--bg-card);
                        border: 1px solid var(--bg-accent);
                        cursor: default;
                    }
    
                    &.md {
                        color: #fff;
                        background-color: #ff6740;
                        border: 1px solid #e6613e;
                    }
                }
            }
        }
    }

    &.open {
        .opener { 
            max-height: 900px;
        }
    }
}

.content-wrapper {
    display: flex;
    flex-flow: row;
    .draw-wrapper {
        width: $section-width;
        margin: 10px 5px;
        .drawer { margin: 0; }
    }
    .volumes {
        flex: 1;
        display: flex;
        flex-flow: column;
        margin-left: 5px;
        .chapter-header {
            margin: 10px 0;
            width: 100%;
            display: flex;
            flex-flow: row;
            background-color: var(--bg-card);
            p {
                margin: auto 5px;
                padding: 7.5px 0;
            }
            button {
                display: flex;
                flex-flow: row;
                background-color: var(--bg-card);
                outline: none;
                border: none;
                color: var(--text-color);
                cursor: pointer;
                margin: 0 5px;
                padding-left: 5px;
                span { margin: auto 5px; }
                &.active { background-color: var(--accent-1); }
            }
            :first-child { margin-right: auto; }
        }
        .volume {
            display: flex;
            flex-flow: column;
            position: relative;
            margin: 10px 0;
            .collapse-btn {
                background-color: var(--bd-card-2);
                color: var(--text-color);
                outline: none;
                border: none;
                position: absolute;
                top: 0;
                right: 0;
                transform: translateY(-50%);
                padding: 0;
                margin: 0;
                cursor: pointer;
            }
            .name {
                position: absolute;
                top: 50%;
                left: 5px;
                transform: rotate(-90deg) translateX(-37%);
                transform-origin: left;
                background-color: var(--bg-accent);
                cursor: pointer;
            }
            .chapters {
                margin-left: 5px;
                display: flex;
                flex-flow: column;
                border-left: 3px solid var(--brd-color-accent);
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                padding: 10px;
                .chapter, .version-chapter {
                    padding: 15px;
                    background-color: var(--bg-card);
                    text-decoration: none;
                    display: flex;
                    flex-flow: column;
                    margin: 5px;
                    position: relative;
                    &:first-child {
                        display: none;
                    }

                    .progress {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        background-color: var(--color-hidive-dark);
                        border: 1px solid var(--color-hidive);

                        .perc-container {
                            position: absolute;
                            top: 0;
                            left: 100%;
                            transform: translate(-50%, -50%);
                            background-color: var(--accent-1);
                            border-radius: 50%;
                            width: 35px;
                            height: 35px;
                            display: flex;

                            span {
                                margin: auto;
                            }
                        }
                    }

                    .chapter-root {
                        display: flex;
                        flex-flow: column;
                        position: relative;
                        text-decoration: none;
                        border-bottom: 1px solid var(--brd-color-accent);
                        padding-bottom: 5px;
                    }

                    .version-draw {
                        padding-top: 5px;
                        .header {
                            cursor: pointer;
                        }

                        .content {
                            transition: max-height 250ms;
                            max-height: 0;
                            overflow: hidden;
                            margin: 0;

                            .version-item {
                                text-decoration: none;
                            }
                        }

                        &.open {
                            .content {
                                max-height: 100px;
                                overflow-y: auto;
                            }
                        }
                    }

                    .header, .footer {
                        display: flex;
                        flex-flow: row;
                        position: relative;
                        :not(:first-child) { margin-left: auto; }
                        .number, .title, .lang, .timings, .attr {
                            display: flex;
                            flex-flow: row;
                            span { margin: auto 5px; }
                        }
                        .attr {
                            position: absolute;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                    .footer { margin-top: 10px; }
                    &.resume { background-color: var(--accent-1); }
                }

                &.collapse {
                    .chapter:first-child {
                        display: flex;
                    }

                    .chapter:not(:first-child),
                    .version-chapter:not(:first-child) {
                        display: none;
                    }
                }
            }
        }
    }
    main { flex: 1; }
}

.links {
    display: flex;
    flex-flow: column;

    button, a {
        display: flex;
        flex-flow: row;
        outline: none;
        background-color: var(--bg-accent);
        border: 1px solid var(--accent-2);
        color: var(--text-color);
        text-align: left;
        font-size: 16px;
        text-decoration: none;
        padding: calc(#{$select-list-padding} / 2);
        cursor: pointer;
        margin: 0;
        .icon { margin: auto 5px; }
        .text { margin: auto 0; }
        &:not(:first-child) { border-top: none; }

        &:disabled {
            cursor: not-allowed;
            color: var(--text-color-muted);
            background-color: var(--bg-card-2);
            border-color: var(--accent-1);
        }
    }
}

@media only screen and (max-width: 950px) {
    header .details .buttons {
        button,a { span { display: none; } }
    }
    .content-wrapper {
        flex-flow: column;
        .draw-wrapper {
            width: 100%;
            margin: 5px 0;
        }
    }
    .volumes {
        margin-left: 0 !important;
        .volume {
            margin: 0 !important;
            margin-top: 10px !important;
            padding-top: 10px;
            border-top: 3px solid var(--brd-color-accent);
            .name {
                top: -10px !important;
                left: 50% !important;
                transform: translateX(-50%) !important;
            }
            .chapters {
                margin-left: 0 !important;
                padding: 0 !important;
                border-left: none !important;
                .chapter { margin: 5px 0 !important; }
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    header {
        flex-flow: column !important;
        .title {
            a { 
                margin: 5px auto;
                text-align: center;
            }
        }
        .image {
            margin: 0 auto !important;
            width: 100%;
        }
        .details {
            margin-right: 0;
            max-height: unset;
            overflow-y: unset;
            .buttons { margin: 0 auto; }
            .description {
                max-height: unset;
                overflow: hidden;
            }
        }
    }
    .drawer { margin: 5px 0; }
}