header {
    display: flex;
    flex-flow: row;
    margin: 10px;

    .image {
        width: 300px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin: 5px;
    }

    .details {
        display: flex;
        flex-flow: column;
        flex: 1;

        .title {
            a {
                font-size: 2em;
                text-decoration: none;
                cursor: pointer;
            }
        }

        .attribution {
            display: flex;
            flex-flow: row;

            .type {
                font-weight: bold;
            }

            .value {
                margin-left: 5px;

                span {
                    margin-left: 5px;
                
                    &:not(:last-child)::after { content: ','; }
                }

                a {
                    color: var(--text-color);
                    text-decoration: dashed;
                }
            }
        }

        .tags {
            .header {
                font-weight: bold;
            }

            .tag {
                display: inline-block;
                padding: 3px 5px;
                margin: 3px;
                background-color: var(--def-color);
                border: 1px solid var(--brd-color-accent);
                border-radius: 3px;
            }
        }

        .buttons {
            margin-top: auto;
            margin-left: auto;
        }
    }
}

main {
    display: flex;
    flex-flow: column;
    margin: 10px auto;
    max-width: 700px;
    width: 100%;
    flex: 1;

    .chapter {
        flex: 1;
        margin: 10px 0;
        padding: 15px;
        background-color: var(--bg-card);
        text-decoration: none;

        display: flex;
        flex-flow: column;

        .header, .footer {
            display: flex;
            flex-flow: row;

            :last-child {
                margin-left: auto;
            }

            .number, .title, .lang, .timings {
                display: flex;
                flex-flow: row;

                span {
                    margin: auto 5px;
                }
            }
        }
        :not(:first-child) {
            margin-top: 5px;
        }
    }
}