<cba-container [loading]="loading" [error]="error" [handle-scroll]="true" flex-flow="column">
    <header>
        <div class="image" [style.background-image]="'url(' + proxy(manga?.cover) + ')'"></div>
        <div class="details">
            <div class="title">
                <a [href]="manga?.url" target="_blank">{{ manga?.title }}</a>
            </div>
            <div class="details">
                <div class="description" *ngIf="manga?.description">
                    <div class="content" [markdown]="manga?.description"></div>
                </div>
            </div>
            <div class="buttons">
                <a *ngIf="currentChapter" [routerLink]="[ '/manga', manga?.hashId, currentChapter.id, progress?.pageIndex ]">
                    <cba-icon>auto_stories</cba-icon>
                    <p>
                        Resume
                        <span>Ch. {{ currentChapter.ordinal }}&nbsp;</span>
                        <span>Page. {{ progress?.pageIndex }}</span>
                    </p>
                </a>
                <button (click)="nextRandom()" *ngIf="isRandom" cba-tooltip="Next Random Manga" direction="up">
                    <cba-icon>shuffle</cba-icon>
                    <p>Next</p>
                </button>
                <button (click)="toggleFavourite()" *ngIf="loggedIn">
                    <cba-icon [fill]="favourite">star</cba-icon>
                </button>
                
                <button (click)="moreOptions()">
                    <cba-icon>more_vert</cba-icon>
                </button>
            </div>
        </div>
    </header>
    <div class="content-wrapper">
        <div class="draw-wrapper">
            <section class="drawer" [ngClass]="{ 'open': detailsOpen }">
                <div class="title" (click)="detailsOpen = !detailsOpen">
                    <div class="text">
                        <p>More Details</p>
                        <cba-icon *ngIf="detailsOpen">arrow_drop_up</cba-icon>
                        <cba-icon *ngIf="!detailsOpen">arrow_drop_down</cba-icon>
                    </div>
                </div>
                <div class="opener">
                    <div class="wrapper">
                        <div class="tags">
                            <div class="header">Alternative Titles </div>
                            <div class="tag secondary" *ngFor="let tag of manga?.altTitles">{{ tag }}</div>
                        </div>
                        <div class="tags">
                            <div class="header">Tags </div>
                            <div class="tag nsfw" *ngIf="manga?.nsfw">Nsfw</div>
                            <a class="tag" *ngFor="let tag of manga?.tags" routerLink="/manga/filter/all" [queryParams]="{include: tag}">{{ tag }}</a>
                        </div>
                        <div class="tags">
                            <div class="header">Details </div>
                            <a class="tag md" [href]="manga?.url" target="_blank"><b>Source</b>: {{ manga?.provider }}</a>
                            <div class="tag tertiary" *ngFor="let atr of manga?.attributes"><b>{{ atr.name }}</b>: {{ atr.value }}</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="volumes">
            <div class="chapter-header">
                <p>Chapters</p>
                <p>Sort by:</p>
                <button [ngClass]="{ 'active': sort === 'chap' }" (click)="sort = 'chap'">
                    <cba-icon>import_contacts</cba-icon>
                    <span>Chapter</span>
                </button>
                <button [ngClass]="{ 'active': sort === 'release' }" (click)="sort = 'release'">
                    <cba-icon>calendar_month</cba-icon>
                    <span>Date</span>
                </button>
                <button (click)="collapseAll = !collapseAll">
                    <cba-icon *ngIf="!collapseAll">expand_less</cba-icon>
                    <span *ngIf="!collapseAll">Collapse</span>
                    <cba-icon *ngIf="collapseAll">expand_more</cba-icon>
                    <span *ngIf="collapseAll">Expand</span>
                </button>
            </div>
            <div class="volume" *ngFor="let vol of volumeGroups">
                <div class="name" *ngIf="vol.name">Volume {{ vol.name }}</div>
                <div class="name" *ngIf="!vol.name">No Volume</div>
                <button class="collapse-btn" (click)="vol.collapse = !vol.collapse">
                    <cba-icon *ngIf="vol.collapse">expand_more</cba-icon>
                    <cba-icon *ngIf="!vol.collapse">expand_less</cba-icon>
                </button>
                <div class="chapters" [ngClass]="{ 'collapse': vol.collapse }">
                    <a class="chapter" (click)="vol.collapse = !vol.collapse">
                        <div class="header">
                            <div class="number" *ngIf="vol.name">
                                <span>Volume {{ vol.name }}</span>
                            </div>
                            <div class="number" *ngIf="!vol.name">
                                <span>No Volume</span>
                            </div>
                            <div class="title">
                                <cba-icon>expand_more</cba-icon>
                                <span>Open</span>
                            </div>
                        </div>
                        <div class="footer">
                            <div class="lang">
                                <cba-icon>layers</cba-icon>
                                <span>{{ vol.chapters.length }} Chapters</span>
                            </div>
                        </div>
                    </a>

                    <a class="chapter" *ngFor="let chapter of vol.chapters" 
                       [routerLink]="['/manga', manga?.hashId, chapter.id, 1]"
                       [ngClass]="{ 'active': chapter.read }">
                        <div class="progress" 
                             *ngIf="chapter.id === progress?.mangaChapterId"
                             [style.width]="stats?.stats?.pageProgress + '%'">
                            <div class="perc-container">
                                <span>{{ stats?.stats?.pageProgress | number:'1.0-0' }}%</span>   
                            </div> 
                        </div>
                        <div class="header">
                            <div class="number">
                                <cba-icon *ngIf="chapter.read">done_all</cba-icon>
                                <cba-icon *ngIf="chapter.id === progress?.mangaChapterId">auto_stories</cba-icon>
                                <span *ngIf="chapter.volume">Vol. {{ chapter.volume }}</span>
                                <span>Ch. {{ chapter.ordinal }}</span>
                            </div>
                            <div class="title">{{ chapter.title }}</div>
                        </div>
                        <div class="footer">
                            <div class="lang">
                                <cba-icon>language</cba-icon> 
                                <span>{{ chapter.language }}</span>
                            </div>
                            <div class="attr" *ngIf="getGroup(chapter)">
                                <cba-icon>group</cba-icon>
                                <span>{{ getGroup(chapter) }}</span>
                            </div>
                            <div class="timings">
                                <cba-icon>schedule</cba-icon> 
                                <span>{{ chapter.createdAt | date:'yyyy-MM-dd' }}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</cba-container>

<cba-popup #moreoptions>
    <h2>More Options</h2>
    <div class="links">
        <button (click)="resetProgress()" [disabled]="!progress">
            <div class="icon"><cba-icon>delete</cba-icon></div>
            <div class="text">Reset Progress</div>
        </button>
        <button (click)="update()">
            <div class="icon"><cba-icon>update</cba-icon></div>
            <div class="text">Refresh</div>
        </button>
        <button (click)="showBookmarks()" [disabled]="!hasBookmarks">
            <div class="icon"><cba-icon>bookmarks</cba-icon></div>
            <div class="text">Bookmarks</div>
        </button>
    </div>
</cba-popup>

<cba-popup #bookmarkspopup>
    <cba-manga-bookmarks *ngIf="data" [data]="data"></cba-manga-bookmarks>
</cba-popup>