.component-container {
    overflow-y: auto;
    .content {
        margin: auto;
        display: flex;
        flex-flow: column;

        h1 {
            text-align: center;
            font-size: 2rem;
        }

        .list {
            border: 2px solid var(--color-vrv);
            margin: 0;
            display: flex;
            flex-flow: row;

            .btn {
                margin: 0;
                border: none;
                &:first-child {
                    flex: 1;
                }
                &:not(:first-child) {
                    border-left: 2px solid var(--color-vrv);
                }
            }

            &:not(:last-child) { border-bottom: none; }
            &:first-child:last-child { border-bottom: 2px solid var(--color-vrv); }
        }

        p {
            margin: 0 auto;
        }
    }
}