<div class="component-container">
    <div class="content" *ngIf="loading">
        <img src="/assets/loading.gif" />
        Loading...
    </div>
    <div class="content" *ngIf="curUser && !loading">
        <h1>Your Lists: ({{ lists.length }})</h1>
        <div class="list" *ngFor="let list of lists">
            <a class="btn" [routerLink]="['/anime', list.id ]">
                {{ list.title }} ({{ list.count }})
            </a>
            <button class="btn" (click)="remove(list)">
                <cba-icon>delete</cba-icon>
            </button>
        </div>
        <p *ngIf="lists.length == 0">
            You have no lists
        </p>
    </div>
    <div class="content" *ngIf="!curUser && !loading">
        You need to be logged in to do this.
    </div>
</div>