<div class="loading" *ngIf="loading"></div>
<div class="filters" *ngIf="!loading && !!filter && !!available">
    <div class="search">
        <input type="text" placeholder="Search Titles" [(ngModel)]="filter.search" />
    </div>
    <div class="field closed" #mature>
        <div class="title">
            <span>Maturity:</span>
            <button (click)="toggleEl(mature)">
                <span class="open">Hide</span>
                <span class="close">Show</span>
            </button>
        </div>
        <div class="toggles">
            <button [ngClass]="{ 'active': filter.mature == 0 || !filter.mature }" (click)="toggleMature(0)">All</button>
            <button [ngClass]="{ 'active': filter.mature == 2 }" (click)="toggleMature(2)">PG</button>
            <button [ngClass]="{ 'active': filter.mature == 1 }" (click)="toggleMature(1)">R</button>
        </div>
    </div>
    <div class="field closed" #orderby>
        <div class="title">
            <span>Order By:</span>
            <button (click)="toggleEl(orderby)">
                <span class="open">Hide</span>
                <span class="close">Show</span>
            </button>
        </div>
        <div class="toggles">
            <button [ngClass]="{ 'active': filter.asc }" (click)="filter.asc = true">A - Z</button>
            <button [ngClass]="{ 'active': !filter.asc }" (click)="filter.asc = false">Z - A</button>
        </div>
    </div>
    <div class="field closed" *ngFor="let avail of available" #field>
        <div class="title">
            <span>{{ avail.key }}:</span>
            <button (click)="toggleEl(field)">
                <span class="open">Hide</span>
                <span class="close">Show</span>
            </button>
        </div>
        <div class="options">
            <button *ngFor="let op of avail.values" [ngClass]="{ 'active': checked(avail, op) }" (click)="toggle(avail, op)">
                {{ op }}
            </button>
        </div>
    </div>
    <button class="search" (click)="search()">Search</button>
</div>