:host {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}
.filters {
    margin-top: 10px;
    flex: 1;
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
    overflow-y: auto;   
    .search {
        margin: 5px 10px;
        display: flex;
        flex-flow: column;
        input {
            outline: none;
            border: none;
            border-bottom: 1px solid var(--text-color-muted);
            background-color: transparent;
            color: #fff;
            font-size: 16px;
            text-align: center;
        }
    }
    .field {
        display: flex;
        flex-flow: column;
        margin: 0 10px;
        border-top: 1px solid var(--text-color-muted);
        .title {
            text-align: center;
            padding-bottom: 5px;
            text-transform: capitalize;
            position: relative;
            margin-top: 10px;
            button {
                position: absolute;
                right: 0;
                border: none;
                padding: 0;
                .close { display: none; }
            }
        }
        .options,
        .toggles {
            display: flex;
            flex-flow: row;
            overflow-x: hidden;
            overflow-y: auto;
            transition: all 250ms;
            padding-bottom: 5px;
        }
        .toggles {
            margin: 2px auto;
            button {
                &:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }
                &:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }
            }
        }
        .options {
            flex-flow: row wrap;
            button {
                margin: 2px auto;
                flex: 1;
            }
        }
        &.closed {
            .title {
                button {
                    .close { display: inline; }
                    .open { display: none; }
                }
            }
            .options,
            .toggles {
                padding-bottom: 0;
                max-height: 0;
                overflow: hidden;
            }
        }
        &:nth-child(2) { border-top: none; }
    }
    button.search { margin: 5px auto; }
}

button {
    border: 1px solid var(--color-vrv);
    outline: none;
    background-color: transparent;
    color: var(--color-vrv);
    padding: 5px 10px;
    cursor: pointer;
    text-transform: capitalize;
    &.active {
        background-color: var(--color-vrv-trans);
        color: #000;
    }
    &:hover { cursor: pointer; }
}