$filters-size: 250px;

:host {
    width: 100%;
    height: 100%;
}

.component-container {
    display: flex;
    flex-flow: row;
    position: relative;

    .background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        filter: grayscale(80%) opacity(25%);
        z-index: 0;

        .bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-size: cover;
            background-position: center;
            transition: all 250ms;
            opacity: 0;

            &.active {
                opacity: 1;
            }
        }
    }

    aside {
        display: flex;
        flex-flow: column;
        width: $filters-size;
        border-right: 1px solid var(--text-color-muted);
        z-index: 99;
        margin-left: -#{$filters-size + 1px};
        transition: all 250ms;
        overflow: hidden;
        
        .filters {
            flex: 1;
            overflow: hidden;
        }
        

        .counts {
            text-align: center;
        }

        .current-background {
            display: flex;
            flex-flow: column;
            margin: 0 10px;
            border-top: 1px solid var(--text-color-muted);
            padding-top: 10px;
            position: relative;

            .title {
                position: absolute;
                bottom: 20%;
                transform-origin: 0 0;
                transform: rotate(270deg);
                padding-bottom: 5px;
            }
        }
    }

    main {
        flex: 1;
        display: flex;
        flex-flow: column;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 99;

        .loading {
            margin: auto;
            display: flex;
            flex-flow: row;

            img {
                width: 50px;
            }

            span {
                margin: auto 10px;
                transform-origin: -35px 15px;
                animation-name: spin;
                animation-duration: 4000ms;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }

            &.no-animation {
                span {
                    animation: none;
                }
            }

            @keyframes spin { 
                from { 
                    transform: rotate(0deg); 
                } to { 
                    transform: rotate(360deg); 
                }
            }
        }

        .anime {
            flex: 1;
            margin: 10px;
            display: flex;
            flex-flow: row wrap;
            max-width: 1150px;
            width: 100%;
            margin: auto;

            .infinite-loading {
                width: 100%;
                display: flex;
            }
        }
    }

    .filter-btn {
        position: absolute;
        top: 10px;
        left: 0;

        background-color: transparent;
        color: #fff;
        outline: none;
        border: none;
        z-index: 999;

        transition: all 250ms;
        cursor: pointer;
    }

    &.open {
        aside {
            margin-left: 0;
        }

        .filter-btn {
            margin-left: #{$filters-size - 20px};
        }
    }

    .tutorial {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        display: flex;
        flex-flow: column;

        background-color: rgba(0, 0, 0, 0.75);
        z-index: 9999;

        .content {
            margin: auto;
            display: flex;
            flex-flow: column;

            h2, p {
                margin: 10px;
                text-align: center;
            }

            button {
                margin: 10px auto;
                border: 2px solid var(--color-vrv);
                color: var(--color-vrv);
                background-color: transparent;
                text-transform: uppercase;
                cursor: pointer;
                font-size: 20px;
                padding: 5px 20px;

                &:hover {
                    background-color: var(--color-vrv);
                    color: #000;
                }
            }
        }
    }
}