<div class="component-container" 
    [ngClass]="{ 'open': filtersOpen }"
    (swipeleft)="filtersOpen = false"
    (swiperight)="filtersOpen = true">
    <div class="background-image">
        <div class="bg default" *ngIf="!bgs || bgs.length === 0"></div>
        <div class="bg" 
             *ngFor="let b of bgs; let i = index" 
             [style.background-image]="b.src"
             [ngClass]="{ 'active': curIndex === i }"></div>
    </div>

    <main infiniteScroll 
          (scrolled)="onScroll()"
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="50"
          [scrollWindow]="false">

        <div class="loading" *ngIf="anime.length == 0 && loading">
            <img src="/assets/loading.gif" />
            <span>Loading...</span>
        </div>
        <div class="loading no-animation" *ngIf="anime.length == 0 && !loading">
            <img src="/assets/error.gif" />
            <span>Your search returned no records</span>
        </div>
        <div class="anime" *ngIf="anime.length > 0">
            <cba-card *ngFor="let ani of anime" [anime]="ani"
                (subswipe)="filtersOpen = !$event"></cba-card>
            
            <div class="infinite-loading" *ngIf="loading">
                <div class="loading no-animation">
                    <img src="/assets/loading.gif" />
                    <span>Loading...</span>
                </div>
            </div>
        </div>
    </main>

    <div class="fade"></div>

    <aside>
        <div class="filters">
            <cba-search-filters (searched)="onSearch($event)"></cba-search-filters>
        </div>
        <div class="counts">
            {{ anime.length }} / {{ total }}
        </div>
        <div class="current-background" *ngIf="current">
            <div class="title">Current Background</div>
            <cba-card class="card" [anime]="current"></cba-card>
        </div>
    </aside>

    <button class="filter-btn" (click)="filtersOpen = !filtersOpen">
        <span *ngIf="filtersOpen">&lt;</span>
        <span *ngIf="!filtersOpen">&gt;</span>
    </button>

    <div class="tutorial" *ngIf="showTut">
        <div class="content">
            <h2>Tutorial</h2>
            <p>You can swipe horizontally to open and close the filters</p>
            <button (click)="toggleTut()">
                I Understand!
            </button>
        </div>
    </div>

    <cba-anime-modal></cba-anime-modal>
</div>
