<cba-container [loading]="loading" [error]="error" [handle-scroll]="false">
    <main>
        <article>
            <div class="property">
                <div class="title">Image 2 Image:</div>
                <div class="value">
                    <input type="checkbox" [(ngModel)]="img" />
                </div>
            </div>
            <div class="property fit">
                <div class="title">Prompt:</div>
                <div class="value">
                    <textarea [(ngModel)]="request.prompt"></textarea>
                </div>
            </div>
            <div class="property fit">
                <div class="title">Negative Prompt:</div>
                <div class="value">
                    <textarea [(ngModel)]="request.negativePrompt"></textarea>
                </div>
            </div>
            <div class="property">
                <div class="title">Steps:</div>
                <div class="value">
                    <input type="number" [(ngModel)]="request.steps" min="1" max="64" step="1" />
                </div>
            </div>
            <div class="property">
                <div class="title">CFG Scale:</div>
                <div class="value">
                    <input type="number" [(ngModel)]="request.cfgScale" min="1" max="32" />
                </div>
            </div>
            <div class="property">
                <div class="title">Batch Count:</div>
                <div class="value">
                    <input type="number" [(ngModel)]="request.batchCount" min="1" max="2" />
                </div>
            </div>
            <div class="property">
                <div class="title">Batch Size:</div>
                <div class="value">
                    <input type="number" [(ngModel)]="request.batchSize" min="1" max="4" />
                </div>
            </div>
            <div class="property">
                <div class="title">Seed:</div>
                <div class="value">
                    <input type="number" [(ngModel)]="request.seed" />
                </div>
            </div>
            <div class="property">
                <div class="title">Image Width:</div>
                <div class="value">
                    <input type="number" [(ngModel)]="request.width" min="64" max="1024" step="64" />
                </div>
            </div>
            <div class="property">
                <div class="title">Image Height:</div>
                <div class="value">
                    <input type="number" [(ngModel)]="request.height" min="64" max="1024" step="64" />
                </div>
            </div>

            <ng-container *ngIf="img">
                <div class="property">
                    <div class="title">Image URL:</div>
                    <div class="value">
                        <input type="text" [(ngModel)]="request.image" />
                    </div>
                </div>
                <div class="property">
                    <div class="title">Denoise Strength:</div>
                    <div class="value">
                        <input type="number" [(ngModel)]="request.denoiseStrength" min="0.0" max="1.0" step="0.1" />
                    </div>
                </div>
            </ng-container>

            <div class="submit">
                <button (click)="post()">Generate</button>
            </div>
        </article>
        <article>
            <h1 class="image-issues" *ngIf="issues.length > 0">There were a few issues with your request:</h1>
            <div class="image-issues" *ngFor="let iss of issues">
                {{ iss }}
            </div>

            <div class="image-result" *ngFor="let img of urls">
                <img [src]="imageUrl(img)" />
            </div>
        </article>
    </main>
</cba-container>