main {
    display: flex;
    flex-flow: row;
    flex: 1;

    article {
        width: 50%;

        display: flex;
        flex-flow: column;
        overflow-y: auto;
        overflow-x: hidden;

        .property {
            display: flex;
            flex-flow: row;

            .title {
                min-width: 150px;
                margin: auto 5px;
            }

            .value {
                margin: 5px;
                flex: 1;
                display: flex;

                input, textarea {
                    flex: 1;
                    padding: 5px 10px;
                    border: 1px solid var(--def-color);
                    outline: none;
                    background-color: transparent;
                    color: var(--text-color);
                    border-radius: 5px;
                }

                textarea {
                    height: 100px;
                    resize: none;
                }
            }

            .split {
                flex: 1;
                display: flex;
                flex-flow: row;

                .title {
                    flex: 1;
                }

                .value {
                    flex: unset;
                }
            }

            &.fit {
                flex-flow: column;
            }
        }

        .notes {
            width: 100%;
            font-size: 13px;
            text-align: right;
            color: var(--text-color-muted);
        }

        .submit {
            display: flex;
            flex-flow: column;

            button {
                margin-left: auto;
                margin-right: 5px;
            }
        }

        &:last-child {
            display: flex;
            flex-flow: column;
            
            .image-result {
                margin: 10px;
                display: flex;

                img {
                    margin: auto;
                    max-width: 100%;
                }
            }

            .image-issues {
                color: var(--dgr-color);
                margin: 5px auto;
                text-align: center;

                &:first-child { margin-top: auto; }
                &:last-child { margin-bottom: auto; }
            }
        }
    }    
}

@media only screen and (max-width: 1000px) {
    main {
        flex-flow: column !important;
        overflow-y: auto !important;

        article {
            width: unset !important;
            overflow: unset !important;
        }
    }
}