$progress-height: 4px;
$select-list-padding: 20px;

header {
    width: 100%;
    display: flex;
    flex-flow: row;
    max-height: #{$select-list-padding * 2.5};
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;

    span {
        margin: auto 0;
        &:first-child {
            margin-left: 10px;
        }

        &:not(:first-child) {
            margin: auto;
        }
    }

    button.open {
        transform: rotate(180deg);
    }

    .select-list {
        display: flex;
        flex-flow: row;
        margin: 5px auto;
    
        select, input {
            outline: none;
            border: 1px solid var(--accent-2);
            background-color: var(--bg-accent);
            color: var(--text-color);
            max-width: 240px;
            padding: $select-list-padding;
    
            option {
                background-color: transparent;
                color: var(--text-color);
            }
    
            &.fill {
                flex: 1;
                max-width: 100%;
            }
        }
    
        button, a {
            outline: none;
            border: 1px solid var(--accent-2);
            background: var(--bg-accent);
            padding: calc(#{$select-list-padding} / 2);
            margin: 0;
            color: var(--text-color);
            line-height: 100%;
            cursor: pointer;
            text-decoration: none;
            text-align: center;

            span {
                display: none;
            }
    
            &:disabled {
                color: var(--text-color-muted);
                cursor: not-allowed;
            }
    
            &.active {
                background-color: var(--accent-2);
                span {
                    display: inline-block;
                    margin-left: 3px;
                }
            }
        }
    
        .counts {
            border: 1px solid var(--accent-2);
            background-color: var(--bg-accent);
            padding: $select-list-padding;
            border-left: none;
        }
    
        :first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }
    
        :not(:first-child) {
            border-left: none;
        }
    
        :last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    
        :not(:first-child):not(:last-child) {
            border-radius: 0;
        }
    
        select, input, button, .counts {
            margin: 0;
        }
    
        &.fill {
            width: 100%;
        }
    }
    
}

main {
    display: flex;
    flex-flow: row wrap;
    position: relative;

    &.inp {
        .completed {
            max-height: 0;
            margin: 0;
            padding: 0;
            max-width: 0;
        }
    }

    &.com {
        .in-progress {
            max-height: 0;
            margin: 0;
            padding: 0;
            max-width: 0;
        }
    }
}

.float-icons {
    display: none;
}

.links {
    display: flex;
    flex-flow: column;
    margin: 15px;

    a {
        outline: none;
        border: 1px solid var(--accent-2);
        background: var(--bg-accent);
        padding: calc(#{$select-list-padding} / 2);
        margin: 0;
        color: var(--text-color);
        line-height: 100%;
        cursor: pointer;
        text-decoration: none;
        text-align: center;

        span {
            display: none;
        }

        &.active {
            background-color: var(--accent-2);
            span {
                display: inline-block;
                margin-left: 3px;
            }
        }
    }
}

@media only screen and (max-width: 700px) {
    header {
        display: none;
    }

    .float-icons {
        display: flex;
    }
}