<cba-container [loading]="loading" [error]="error" [requires-login]="true" [ifs-enabled]="true" (ifs)="onScroll()" flex-flow="column">
    <header>
        <div class="select-list">
            <a [routerLink]="['/manga', 'touched', 'all']" routerLinkActive="active">All<span> ({{ total }})</span></a>
            <a [routerLink]="['/manga', 'touched', 'completed']" routerLinkActive="active">Completed<span> ({{ total }})</span></a>
            <a [routerLink]="['/manga', 'touched', 'in-progress']" routerLinkActive="active">In Progress<span> ({{ total }})</span></a>
            <a [routerLink]="['/manga', 'touched', 'bookmarked']" routerLinkActive="active">Bookmarked<span> ({{ total }})</span></a>
            <a [routerLink]="['/manga', 'touched', 'favourite']" routerLinkActive="active">Favourites<span> ({{ total }})</span></a>
        </div>
    </header>
    <main>
        <cba-manga-card *ngFor="let manga of records" [data]="manga"></cba-manga-card>
    </main>
    <div class="float-icons">
        <button class="float-icon" (click)="openFilters()">
            <cba-icon>filter_alt</cba-icon>
        </button>
    </div>
</cba-container>

<cba-popup #popup>
    <div class="links">
        <a [routerLink]="['/manga', 'touched', 'all']" routerLinkActive="active" (click)="closeFilters()">All<span> ({{ total }})</span></a>
        <a [routerLink]="['/manga', 'touched', 'completed']" routerLinkActive="active" (click)="closeFilters()">Completed<span> ({{ total }})</span></a>
        <a [routerLink]="['/manga', 'touched', 'in-progress']" routerLinkActive="active" (click)="closeFilters()">In Progress<span> ({{ total }})</span></a>
        <a [routerLink]="['/manga', 'touched', 'bookmarked']" routerLinkActive="active" (click)="closeFilters()">Bookmarked<span> ({{ total }})</span></a>
        <a [routerLink]="['/manga', 'touched', 'favourite']" routerLinkActive="active" (click)="closeFilters()">Favourites<span> ({{ total }})</span></a>
    </div>
</cba-popup>
