$side-width: 300px;
$btn-rd: 5px;

.component-container {
    overflow: hidden;
    position: relative;

    aside {
        width: $side-width;
        margin-left: -#{$side-width + 2px};
        display: flex;
        flex-flow: column;
        overflow: hidden;
        background-color: var(--bg-card);
        border-right: 2px solid var(--color-vrv);
        transition: all 250ms;

        .sidebar {
            flex: 1;
            overflow-y: auto;
            overflow-x: hidden;
            display: flex;
            flex-flow: column;
            margin: 5px;

            h1 {
                margin: 10px 0;
            }

            &.loaded-chapters {
                button {
                    text-align: left;
                    background-color: transparent;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid var(--color-vrv);
                    color: var(--text-color);
                    font-family: 'Roboto';
                    font-size: 16px;
                    cursor: pointer;
    
                    &:last-child {
                        border-bottom: none;
                    }
    
                    &.inview {
                        background-color: var(--color-vrv);
                        color: #000;
                    }
                }
            }

            &.settings {

                .opt {
                    display: flex;
                    flex-flow: row;

                    .label {
                        flex: 1;
                    }

                    .btn-grp {
                        display: flex;
                        flex-flow: row;
    
                        button {
    
                            background-color: transparent;
                            outline: none;
                            border: 1px solid var(--color-vrv);
                            cursor: pointer;
                            color: var(--text-color);
    
                            &:first-child {
                                border-top-left-radius: $btn-rd;
                                border-bottom-left-radius: $btn-rd;
                            }
    
                            &:last-child {
                                border-top-right-radius: $btn-rd;
                                border-bottom-right-radius: $btn-rd;
                            }

                            &:disabled {
                                cursor: not-allowed;
                            }
                        }
                    }
                }
            }
        }
    }


    main {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;

        display: flex;
        flex-flow: column;

        header {
            max-width: 700px;
            margin: 5px auto;
            padding: 0 5px;
        }

        .chapter {
            max-width: 700px;
            margin: 5px auto;
            padding: 0 5px;

            .chapter-content {
                :first-child {
                    font-size: 12px;
                }
            }
        }
    }

    .side-toggle {
        display: flex;
        flex-flow: column;

        position: absolute;
        top: 0;
        left: 0;
        transition: all 250ms;
        background-color: var(--color-vrv);
        
        border-bottom-right-radius: 5px;

        button {
            background-color: transparent;
            outline: none;
            border: none;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }
    }

    &.open {
        aside {
            margin-left: 0;
        }

        .side-toggle {
            left: $side-width;
        }
    }
}

@media only screen and (max-width: 1000px) {
    aside {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        height: 100%;
    }

    main {
        z-index: 97;
    }

    .fade {
        transition: all 250ms;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.50);
    }

    .side-toggle {
        z-index: 99;
    }

    .open {
        .fade {
            opacity: 1;
            z-index: 98;
        }
    }
}