<div class="component-container" [ngSwitch]="state">
    <main *ngSwitchCase="'loading'" class="loading magic-circle">
        <magic-circle width="100%" height="100%" spin-speed="10s">
            <mc-ring text="Some fancy stuff is happening... Sit tight...">
                <mc-square [total]="3" [index]="0"></mc-square>
                <mc-square [total]="3" [index]="1"></mc-square>
                <mc-square [total]="3" [index]="2">
                    <mc-ring text="Loading... Loading... Loading... Loading... ">
                        <mc-square [total]="3" [index]="0"></mc-square>
                        <mc-square [total]="3" [index]="1"></mc-square>
                        <mc-square [total]="3" [index]="2"></mc-square>
                    </mc-ring>
                </mc-square>
            </mc-ring>
        </magic-circle>
    </main>

    <main *ngSwitchCase="'error'" class="loading">
        <img src="/assets/error.gif" alt="Loading Icon" />
        <span>{{ error }}</span>
    </main>

    <main *ngSwitchCase="'requires-login-loading'" class="loading">
        <magic-circle width="100%" height="100%" spin-speed="10s">
            <mc-ring text="Logging you in... Sit tight...">
                <mc-square [total]="3" [index]="0"></mc-square>
                <mc-square [total]="3" [index]="1"></mc-square>
                <mc-square [total]="3" [index]="2">
                    <mc-ring text="Loading... Loading... Loading... Loading... ">
                        <mc-square [total]="3" [index]="0"></mc-square>
                        <mc-square [total]="3" [index]="1"></mc-square>
                        <mc-square [total]="3" [index]="2"></mc-square>
                    </mc-ring>
                </mc-square>
            </mc-ring>
        </magic-circle>
    </main>

    <main *ngSwitchCase="'requires-login-not-admin'" class="loading">
        <img src="/assets/error.gif" alt="Loading Icon" />
        <span>You don't have the appropriate permissions to access this!</span>
    </main>

    <main *ngSwitchCase="'requires-login-not-loggedin'" class="loading">
        <img src="/assets/error.gif" alt="Loading Icon" />
        <span>You need to be logged in to use this!</span>
    </main>

    <main *ngSwitchDefault class="content" [ngClass]="{ 'scroll': handleScroll || ifsEnabled }" [style.flex-flow]="flow"
          (scrolled)="onScrollTriggered($event)" infiniteScroll [scrollWindow]="false"
          [infiniteScrollDistance]="ifsDistance" [infiniteScrollThrottle]="ifsThrottle">
        <ng-content></ng-content>
    </main>
</div>