<div class="component-container" [ngSwitch]="state">
    <main *ngSwitchCase="'loading'" class="loading">
        <img src="/assets/loading.gif" alt="Loading Icon" />
        <span>Loading...</span>
    </main>

    <main *ngSwitchCase="'error'" class="loading">
        <img src="/assets/error.gif" alt="Loading Icon" />
        <span>{{ error }}</span>
    </main>

    <main *ngSwitchCase="'requires-login-loading'" class="loading">
        <img src="/assets/loading.gif" alt="Loading Icon" />
        <span>Logging you in...</span>
    </main>

    <main *ngSwitchCase="'requires-login-not-admin'" class="loading">
        <img src="/assets/error.gif" alt="Loading Icon" />
        <span>You don't have the appropriate permissions to access this!</span>
    </main>

    <main *ngSwitchCase="'requires-login-not-loggedin'" class="loading">
        <img src="/assets/error.gif" alt="Loading Icon" />
        <span>You need to be logged in to use this!</span>
    </main>

    <main *ngSwitchDefault class="content" [ngClass]="{ 'scroll': handleScroll || ifsEnabled }" [style.flex-flow]="flow"
          (scrolled)="onScrollTriggered($event)" infiniteScroll [scrollWindow]="false"
          [infiniteScrollDistance]="ifsDistance" [infiniteScrollThrottle]="ifsThrottle">
        <ng-content></ng-content>
    </main>
</div>