:host {
    display: flex;
}

.material-symbols-outlined {
    margin: auto 0;
    display: inline-block;
    fill: currentColor;
    height: 24px;
    width: 24px;
}

.unsize {
    height: unset;
    width: unset;
}