<a *ngIf="manga" class="manga" [routerLink]="['/manga', manga.hashId || manga.id ]">
    <div class="image" [style.background-image]="'url(' + proxy(manga.cover) + ')'"></div>
    <div class="details masked-overflow">
        <div class="title">
            <span>{{ manga.title }}</span>
            <div class="fav" *ngIf="icon">
                <cba-icon [fill]="!!icon.fill">{{ icon.text }}</cba-icon>
            </div>
        </div>
        <ng-container *ngIf="stats">
            <div class="source" *ngIf="progress">
                <span><b>Progress: </b>&nbsp; {{ stats.chapterProgress }}% - {{ progress.updatedAt | date:'yyyy-MM-dd' }}</span>
            </div>
            <div class="source">
                <span><b>Latest Chapter: </b>&nbsp; {{ stats.latestChapter | date:'yyyy-MM-dd HH:mm' }}</span>
            </div>
        </ng-container>
        <div class="source">
            <b>Source:</b>&nbsp;{{ manga.provider }}
        </div>
        <div class="tags">
            <div class="header">Tags: </div>
            <div class="tag" *ngFor="let tag of manga.tags">{{ tag }}</div>
        </div>
        <div class="description" [markdown]="manga.description"></div>
    </div>
</a>