<nav>
    <a href="/">Cardboard<b>Box</b> - Anime</a>
    <div>@_title</div>
    <button @onclick="Toggle">
        <Icon Name="menu" />
    </button>
</nav>

<Modal @bind-Open=@_open Color="@_color">
    <h1>Hello world</h1>
</Modal>

@code {

    private string _title = "";
    private string _color = "var(--color-vrv)";
    private bool _open = false;

    private void Toggle()
    {
        _color = "var(--color-funimation)";
        _open = !_open;
    }
}
