.app {
    font-family: 'Roboto';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    color: var(--text-color);
    background-color: var(--bg-main);

    header {
        background-color: var(--bg-card);
        display: flex;
        flex-flow: row;
        border-bottom: 2px solid var(--color-vrv);
        position: relative;

        a {
            margin: 5px;
            cursor: pointer;
            display: flex;
            flex-flow: row;
            color: #fff;
            text-decoration: none;

            .material-symbols-outlined {
                font-size: 30px;
            }
        }

        .login {
            display: flex;

            span {
                margin: auto 0;
            }
        }

        .logo {
            svg {
                height: 24px;
                .group-three {
                    fill: #1b1a26;
                }

                .group-two {
                    fill: #fff;
                }

                .group-one {
                    fill: var(--color-vrv);
                }
            }

            span {
                margin: auto 5px;

                b {
                    color: var(--color-mondo);
                }
            }
        }

        .github {
            color: #fff;

            path {
                color: #fff;
                fill: currentColor;
            }
        }

        .avatar {
            height: 32px;
            width: 32px;
            border-radius: 50%;
            margin: auto 5px;
        }

        .username {
            margin: auto 5px;
        }
    }

    main {
        flex: 1;
        overflow: hidden;
        position: relative;
    }
}