:root {
    --text-color: #dcddde;
    --text-color-muted: #555;

    --bg-main: #060606;
    --bg-menu: #010101;
    --bg-accent: #1b1a26;

    --accent-1: #726ae4;
    --accent-2: #6665DD;

    --dgr-color: rgb(255, 61, 61);
    --dgr-color-trans: rgba(255, 61, 61, 0.7);
    --wrn-color: orange;
    --suc-color: rgb(0, 255, 0);
    --def-color: #6665DD;

    --brd-color: #efefefef;
    --brd-color-accent: rgba(255, 255, 255, 0.12);

    --discord-bg: #36393f;
    --discord-bg-2: #2f3136;
    --discord-txt: #dcddde;
    --discord-txt-muted: #8f8f8f;

    --bg-header: #111111;
    --bg-sidebar: #1b1b1b;
    --bg-card: #302e42;
    --bd-card-2: rgb(27, 26, 38);

    --color-crunchyroll: rgb(244, 117, 33);
    --color-vrv-crunchyroll: rgb(244, 117, 33);
    --color-vrvselect: rgb(128, 130, 133);
    --color-mondo: rgb(233, 55, 53);
    --color-vrv: #fd0;
    --color-hidive: rgba(0, 174, 240, 1);
    --color-hidive-dark: rgb(0, 95, 133);
    --color-vrv-trans: rgba(255, 221, 0, 0.842);
    --color-funimation: #6030a1;

    --image-bightness: 100%;
}
.component-container {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0;
    background-color: var(--bg-accent);
}
.bump { flex: 1; }
.vrv-crunchyroll-bg, .vrv-crunchyroll-bg-hover:hover { background-color: var(--color-crunchyroll) !important; }
.vrv-crunchyroll-image {
    background-color: var(--color-crunchyroll);
    border-bottom-color: var(--color-crunchyroll) !important;
}
.crunchyroll-bg, .crunchyroll-bg-hover:hover { background-color: var(--color-crunchyroll) !important; }
.crunchyroll-image {
    background-color: var(--color-crunchyroll);
    border-bottom-color: var(--color-crunchyroll) !important;
}
.mondo-bg, .mondo-bg-hover:hover { background-color: var(--color-mondo) !important; }
.mondo-image {
    background-color: var(--color-mondo);
    border-bottom-color: var(--color-mondo) !important;
}
.vrvselect-bg, .vrvselect-bg-hover:hover { background-color: var(--color-vrvselect) !important; }
.vrvselect-image {
    background-color: var(--color-vrvselect);
    border-bottom-color: var(--color-vrvselect) !important;
}
.funimation-bg, .funimation-bg-hover:hover { background-color: var(--color-funimation) !important; }
.funimation-image {
    background-color: var(--color-funimation);
    border-bottom-color: var(--color-funimation) !important;
}
.hidive-bg, .hidive-bg-hover:hover { background-color: var(--color-hidive) !important; }
.hidive-image {
    background-color: var(--color-funimation);
    border-bottom-color: var(--color-funimation) !important;
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;

    &.fill {
        font-variation-settings:
            'FILL' 1,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48;
    }
}
a {
    color: var(--text-color);
}

.btn {
    font-family: Roboto;
    background-color: transparent;
    color: var(--color-vrv);
    border: 2px solid var(--color-vrv);
    font-size: 1rem;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
    cursor: pointer;
    text-align: center;
    margin: 5px 0;
    transition: all 250ms;

    &:hover, &.active {
        background-color: var(--color-vrv);
        color: #000;
    }
    &:disabled, &[disabled] {
        background-color: rgba(255, 255, 255, 0.5);
        cursor: not-allowed;
        color: #000;
    }

    &.icon {
        background-color: var(--brd-color-accent);
        padding: 10px;
        border: none;
        border-radius: 50%;
        color: var(--text-color);

        &:hover {
            transform: rotate(90deg);
        }
    }
}

input.ipt, textarea.ipt {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--color-vrv);
    font-size: 20px;
    color: var(--text-color);
    margin: 5px 0;
    font-family: 'Roboto';
    resize: none;
}

.float-icon {
    position: absolute;
    top: 5px;
    right: 20px;
    outline: none;
    border: none;
    background-color: var(--brd-color-accent);
    padding: 10px;
    border-radius: 50%;
    color: var(--text-color);
    cursor: pointer;
    transition: all 250ms;
    text-decoration: none;

    &:disabled {
        color: var(--text-color-muted);
        cursor: not-allowed;
    }

    &:hover {
        transform: rotate(90deg);
    }
}

.float-icons {
    position: absolute;
    top: 5px;
    right: 20px;
    display: flex;
    flex-flow: column;

    .float-icon {
        position: relative;
        top: unset;
        right: unset;
        
        &:not(:first-child) {
            margin-top: 5px;
        }
    }
}

.tooltip-container {
    font-family: 'Roboto';
    text-align: center;
    z-index: 999;
    position: fixed;
    padding: 10px;
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--bg-card);
    box-sizing: border-box;
    opacity: 1;
    animation-fill-mode: forwards;
    pointer-events: none;
    white-space: nowrap;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.62);
}

.marked-container {
    p, h1, h2, h3, h4, h5, h6 { 
        margin: 0; 

        code {
            background-color: var(--def-color);
            padding: 3px;
        }
    }

    a { text-decoration: underline; }

    pre {
        border: 1px solid var(--brd-color-accent);
        padding: 10px;
        border-radius: 5px;
        max-width: 100%;
        overflow-x: auto;
    }
}