.context {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

header {
    display: flex;
    flex-flow: row;

    button {
        margin: 5px;
        outline: none;
        border: none;
        background-color: transparent;
        color: var(--text-color);
        cursor: pointer;

        &:disabled {
            color: var(--text-color-muted);
            cursor: not-allowed;
        }
    }

    .select-list {
        display: flex;
        flex-flow: row;
        margin: auto;

        select {
            outline: none;
            border: 1px solid var(--accent-2);
            background-color: var(--bg-accent);
            color: var(--text-color);
            padding: 5px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;

            option {
                background-color: transparent;
                color: var(--text-color);
            }
        }

        .counts {
            border: 1px solid var(--accent-2);
            background-color: var(--bg-accent);
            padding: 5px 10px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border-left: none;
        }
    }
}

main {
    flex: 1;
    display: flex;
    flex-flow: row;
    overflow: hidden;
    position: relative;

    .page {
        flex: 1;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    img {
        display: none;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .left, .right {
        position: absolute;
        top: 0;
        width: 50%;
        outline: none;
        height: 100%;
        border: none;
        background: transparent;
        cursor: pointer;
    }

    .right {
        right: 0;
    }

    &.fit {
        overflow: auto;
        
        img {
            display: block;
            width: 100%;
            max-width: unset;
            max-height: unset;
        }

        .page {
            display: none;
        }
    }
}