<cba-container [loading]="loading" [error]="error">
    <section class="context" *ngIf="!isExternal">
        <header *ngIf="!mangaHideHeader">
            <button (click)="prevChap()" [disabled]="!hasPreviousChapter" cba-tooltip="Previous Chapter" direction="right">
                <cba-icon>skip_previous</cba-icon>
            </button>
            <button (click)="prevPage()" [disabled]="!hasPreviousPage" *ngIf="!mangaScroll" cba-tooltip="Previous Page" direction="right">
                <cba-icon>navigate_before</cba-icon>
            </button>
            <ng-container *ngIf="!mangaHideExtraButtons">
                <a [routerLink]="['/manga', id ]" cba-tooltip="Manga home page" direction="right">
                    <cba-icon>menu_book</cba-icon>
                </a>
            </ng-container>
            <div class="select-list">
                <select [(ngModel)]="chapterId" (ngModelChange)="pageChange(0)">
                    <option *ngFor="let chapter of chapters" [value]="chapter.id">
                        Ch. {{ chapter.ordinal}} - {{ chapter.title }}
                    </option>
                </select>
                <select [(ngModel)]="page" (ngModelChange)="pageChange(page - 1)" *ngIf="!mangaScroll">
                    <option *ngFor="let page of chapter?.pages; let i = index" [value]="i + 1">
                        #{{ i + 1 }}
                    </option>
                </select>
                <div class="counts" *ngIf="!mangaScroll">
                    <p>of {{ chapter?.pages?.length }}</p>
                </div>
            </div>
            <div class="mobile-bump"></div>
            <button (click)="settingsFloatOpen = !settingsFloatOpen" cba-tooltip="Settings menu">
                <cba-icon>settings</cba-icon>
            </button>
            <button (click)="nextPage()" [disabled]="!hasNextPage" *ngIf="!mangaScroll" cba-tooltip="Next Page">
                <cba-icon>navigate_next</cba-icon>
            </button>
            <button (click)="nextChap()" [disabled]="!hasNextChapter" cba-tooltip="Next Chapter">
                <cba-icon>skip_next</cba-icon>
            </button>
        </header>
        <main [ngClass]="{ 'fit-width': fitToWidth, 'natural-img-size': !fitToHeight && !fitToWidth , 'scroll': mangaScroll }" 
              [class]="mangaFilter" #scrollcont (click)="imageClick($event)">
            <ng-container *ngIf="mangaScroll">
                <button class="scroll-button" (click)="prevChap()" [disabled]="!hasPreviousChapter" cba-tooltip="Previous Chapter" direction="down">
                    <cba-icon>skip_previous</cba-icon>
                </button>

                <img *ngFor="let page of chapter?.pages" [proxy]="page" [referer]="manga?.referer" group="manga-page" [ngStyle]="{ 'filter': imageFilter() }" />

                <button class="scroll-button" (click)="nextChap()" [disabled]="!hasNextChapter" cba-tooltip="Next Chapter" direction="down">
                    <cba-icon>skip_next</cba-icon>
                </button>
            </ng-container>
            <ng-container *ngIf="!mangaScroll">
                <img [proxy]="pageImage" group="manga-page" [referer]="manga?.referer" [ngStyle]="{ 'filter': imageFilter() }" />
                <div class="page" [style.background-image]="'url('+ proxy(pageImage, manga?.referer) +')'" [ngStyle]="{ 'filter': imageFilter() }"></div>
                <div class="next" [style.background-image]="'url(' + proxy(nextPageImage, manga?.referer) + ')'"></div>
            </ng-container>
        </main>
        <ng-container *ngIf="!mangaScroll && mangaProgressBar">
            <div class="progress-bar pages" [class]="mangaProgressBar">
                <a class="progress" *ngFor="let p of chapter?.pages; let i = index"
                   [ngClass]="{ 'active': i <= page - 1 }"
                   (click)="pageChange(i)"></a>
            </div>
        </ng-container>
    </section>
    <article class="settings-float" [ngClass]="{ 'closed': !settingsFloatOpen }">
        <div class="wrapper">
            <div class="tab settings" [ngClass]="{ 'active': mangaTab === 'settings' }">
                <h2>Settings</h2>
                <div class="settings">
                    <section>
                        <label>
                            <input type="checkbox" [(ngModel)]="mangaInvertControls" />
                            Invert Controls
                        </label>
                    </section>
                    <section>
                        <label>
                            <input type="checkbox" [(ngModel)]="mangaScroll" />
                            Scroll through Chapter
                        </label>
                    </section>
                    <section>
                        <label>
                            <input type="checkbox" [(ngModel)]="mangaHideHeader" />
                            Hide Header
                        </label>
                    </section>
                    <section>
                        <label>
                            <input type="checkbox" [(ngModel)]="mangaNoDirectionalButton" />
                            No Directional Buttons
                        </label>
                    </section>
                    <section>
                        <label>
                            <input type="checkbox" [(ngModel)]="mangaHideExtraButtons" />
                            Hide Extra Buttons in Header
                        </label>
                    </section>
                    <section><label>How much to scroll on key event:</label></section>
                    <section>
                        <div class="select-list fill">
                            <input type="number" class="fill" step="10" [(ngModel)]="mangaScrollAmount" />
                        </div>
                    </section>
                    <section><label>Image Size:</label></section>
                    <section>
                        <div class="select-list fill">
                            <select [(ngModel)]="mangaImgSize" class="fill">
                                <option *ngFor="let opt of sizeOptions" [value]="opt">
                                    {{ opt }}
                                </option>
                            </select>
                        </div>
                    </section>
                    <section><label>Image Filters:</label></section>
                    <section>
                        <div class="select-list fill">
                            <select [(ngModel)]="mangaFilter" class="fill">
                                <option *ngFor="let opt of filters" [value]="opt">
                                    {{ opt || 'none' }}
                                </option>
                            </select>
                        </div>
                    </section>
                    <ng-container *ngIf="mangaFilter === 'custom'">
                        <section><label>Custom Filter:</label></section>
                        <section>
                            <div class="select-list fill">
                                <input type="text" class="fill" [(ngModel)]="mangaCustomFilter" />
                            </div>
                        </section>
                    </ng-container>
                    <section><label>Image Brightness ({{ mangaBrightness }}%):</label></section>
                    <section>
                        <div class="select-list fill brightness">
                            <input type="range" min="1" max="100" [(ngModel)]="mangaBrightness" />
                        </div>
                    </section>
                    <section><label>Page Progress Bar:</label></section>
                    <section>
                        <div class="select-list fill">
                            <select [(ngModel)]="mangaProgressBar" class="fill">
                                <option *ngFor="let opt of progressBarOptions" [value]="opt">
                                    {{ opt || 'none' }}
                                </option>
                            </select>
                        </div>
                    </section>
                </div>
                <div class="links">
                    <button (click)="resetOptions()">
                        <div class="icon"><cba-icon>settings_suggest</cba-icon></div>
                        <div class="text">Reset Settings</div>
                    </button>
                    <button (click)="fullscreen()">
                        <div class="icon"><cba-icon>fullscreen</cba-icon></div>
                        <div class="text">Toggle Fullscreen</div>
                    </button>
                    <button (click)="resetPages()">
                        <div class="icon"><cba-icon>sync</cba-icon></div>
                        <div class="text">Refresh Page Links</div>
                    </button>
                    <button (click)="showPages = !showPages">
                        <div class="icon"><cba-icon>auto_stories</cba-icon></div>
                        <div class="text">Show Pages</div>
                    </button>
                </div>
            </div>
            <div class="tab info" [ngClass]="{ 'active': mangaTab === 'info' || (mangaTab == 'pages' && !showPages) }">
                <img class="cover" [proxy]="manga?.cover" group="manga-covers" />
                <h2>{{ manga?.title }}</h2>
                <div class="progress-container">
                    <p><b>Manga Progress: </b> {{ ((chapterIndex + 1) / chapters.length) * 100 | number:'0.2-2' }}%</p>
                    <p><b>Chapter Progress: </b> {{ page / (chapter?.pages?.length || 1) * 100 | number:'0.2-2' }}%</p>
                    <ng-container *ngFor="let attr of chapter?.attributes" [ngSwitch]="attr.name">
                        <p *ngSwitchCase="'Scanlation Discord'"><a [href]="'https://discord.gg/' + attr.value" target="_blank"><b>Scanlation Discord</b></a></p>
                        <p *ngSwitchCase="'Scanlation Link'"><a [href]="attr.value" target="_blank"><b>Scanlation Website</b></a></p>
                        <p *ngSwitchDefault><b>{{ attr.name }}:</b> {{ attr.value }}</p>
                    </ng-container>
                </div>
                <div class="settings">
                    <section><label>Chapters:</label></section>
                    <section>
                        <div class="select-list fill">
                            <button (click)="prevChap()" [disabled]="!hasPreviousChapter" cba-tooltip="Previous Chapter" direction="up">
                                <cba-icon>skip_previous</cba-icon>
                            </button>
                            <select [(ngModel)]="chapterId" (ngModelChange)="pageChange(0)">
                                <option *ngFor="let chapter of chapters" [value]="chapter.id">
                                    Ch. {{ chapter.ordinal }} - {{ chapter.title }}
                                </option>
                            </select>
                            <button (click)="nextChap()" [disabled]="!hasNextChapter" cba-tooltip="Next Chapter" direction="up">
                                <cba-icon>skip_next</cba-icon>
                            </button>
                        </div>
                    </section>
                    <ng-container *ngIf="!mangaScroll">
                        <section><label>Pages:</label></section>
                        <section>
                            <div class="select-list fill">
                                <button (click)="prevPage()" [disabled]="!hasPreviousPage" cba-tooltip="Previous Page" direction="up">
                                    <cba-icon>navigate_before</cba-icon>
                                </button>
                                <button (click)="pageChange(0)" cba-tooltip="Restart Chapter" direction="up">
                                    <cba-icon>restart_alt</cba-icon>
                                </button>
                                <select [(ngModel)]="page" (ngModelChange)="pageChange(page - 1)">
                                    <option *ngFor="let page of chapter?.pages; let i = index" [value]="i + 1">
                                        Page: #{{ i + 1 }}
                                    </option>
                                </select>
                                <button (click)="nextPage()" [disabled]="!hasNextPage" cba-tooltip="Next Page" direction="up">
                                    <cba-icon>navigate_next</cba-icon>
                                </button>
                            </div>
                        </section>
                    </ng-container>
                </div>
                <div class="links">
                    <button (click)="share()">
                        <div class="icon"><cba-icon>auto_stories</cba-icon></div>
                        <div class="text">Copy Page Link</div>
                    </button>
                    <button (click)="shareManga()">
                        <div class="icon"><cba-icon>share</cba-icon></div>
                        <div class="text">Copy Manga Link</div>
                    </button>
                    <a [routerLink]="['/manga', id ]">
                        <div class="icon"><cba-icon>menu_book</cba-icon></div>
                        <div class="text">Manga Home Page</div>
                    </a>
                    <button (click)="download(proxy(pageImage))" [disabled]="downloading">
                        <div class="icon" *ngIf="!downloading"><cba-icon>download</cba-icon></div>
                        <div class="icon" *ngIf="downloading"><cba-icon [spin]="true">sync</cba-icon></div>
                        <div class="text">Download Page</div>
                    </button>
                    <button (click)="downloadChapter()" [disabled]="downloading">
                        <div class="icon" *ngIf="!downloading"><cba-icon>chrome_tote</cba-icon></div>
                        <div class="icon" *ngIf="downloading"><cba-icon [spin]="true">sync</cba-icon></div>
                        <div class="text">Download Chapter</div>
                    </button>
                    <a [routerLink]="['/manga', 'strip', id, chapterId, page ]">
                        <div class="icon"><cba-icon>auto_fix</cba-icon></div>
                        <div class="text">Create Strip</div>
                    </a>
                    <button (click)="pageChange(0)">
                        <div class="icon"><cba-icon>restart_alt</cba-icon></div>
                        <div class="text">Restart Chapter</div>
                    </button>
                    <button (click)="bookmarkPage()">
                        <div class="icon"><cba-icon>bookmark</cba-icon></div>
                        <div class="text">Bookmark Page</div>
                    </button>
                </div>
            </div>
            <div class="tab bookmarks" [ngClass]="{ 'active': mangaTab === 'bookmarks' }">
                <cba-manga-bookmarks *ngIf="data" [data]="data"></cba-manga-bookmarks>
            </div>
            <div class="tab pages" [ngClass]="{ 'active': mangaTab === 'pages' }" *ngIf="showPages">
                <div class="page-list">
                    <a *ngFor="let page of chapter?.pages" [href]="page" target="_blank">
                        {{ page }}
                    </a>
                </div>
            </div>
        </div>
        <div class="tray">
            <button [ngClass]="{ 'active': mangaTab === 'settings' }" (click)="setTab('settings')">
                <cba-icon font-size="36px" [unsize]="true">settings</cba-icon>
            </button>
            <button [ngClass]="{ 'active': mangaTab === 'info' || (mangaTab == 'pages' && !showPages) }" (click)="setTab('info')">
                <cba-icon font-size="36px" [unsize]="true">info</cba-icon>
            </button>
            <button [ngClass]="{ 'active': mangaTab === 'bookmarks'}" (click)="setTab('bookmarks')">
                <cba-icon font-size="36px" [unsize]="true">bookmark</cba-icon>
            </button>
            <button [ngClass]="{ 'active': mangaTab === 'pages' }" (click)="setTab('pages')" *ngIf="showPages">
                <cba-icon font-size="36px" [unsize]="true">auto_stories</cba-icon>
            </button>
        </div>
        <div class="float-icons" *ngIf="!mangaHideHeader && settingsFloatOpen">
            <button class="float-icon" (click)="settingsFloatOpen = !settingsFloatOpen" cba-tooltip="Open the settings menu">
                <cba-icon *ngIf="!settingsFloatOpen">settings</cba-icon>
                <cba-icon *ngIf="settingsFloatOpen">navigate_next</cba-icon>
            </button>
        </div>
    </article>
    <div class="float-icons" *ngIf="mangaHideHeader">
        <button class="float-icon" (click)="settingsFloatOpen = !settingsFloatOpen" cba-tooltip="Open the settings menu">
            <cba-icon *ngIf="!settingsFloatOpen">settings</cba-icon>
            <cba-icon *ngIf="settingsFloatOpen">navigate_next</cba-icon>
        </button>
        <a class="float-icon" [routerLink]="['/manga', id ]" cba-tooltip="Go to mangas home page">
            <cba-icon>menu_book</cba-icon>
        </a>
    </div>
    <section class="center" *ngIf="isExternal">
        <h2>External Manga Detected!</h2>
        <p>
            This manga is only available on the publisher's website. <br />
            You can find it <a [href]="chapter?.externalUrl" target="_blank">here.</a>
        </p>
        <footer>
            <a [routerLink]="['/manga', id ]">
                <cba-icon>home</cba-icon>
            </a>
        </footer>
    </section>
</cba-container>