<cba-container [loading]="loading" [error]="error">
    <section class="context">
        <header *ngIf="!settings.hideHeader.value">
            <button (click)="prevChap()" [disabled]="!hasPreviousChapter">
                <cba-icon>skip_previous</cba-icon>
            </button>
            <button (click)="prevPage()" [disabled]="!hasPreviousPage" *ngIf="!settings.scroll.value">
                <cba-icon>navigate_before</cba-icon>
            </button>
            <button (click)="pageChange(0)">
                <cba-icon>restart_alt</cba-icon>
            </button>
            <ng-container *ngIf="!settings.hideExtraButtons.value">
                <a [routerLink]="['/manga', id ]">
                    <cba-icon>menu_book</cba-icon>
                </a>
    
                <a [href]="proxy(pageImage)" target="_blank">
                    <cba-icon>download</cba-icon>
                </a>
            </ng-container>

    
            <div class="select-list">
                <select [(ngModel)]="chapterId" (ngModelChange)="pageChange(0)">
                    <option *ngFor="let chapter of chapters" [value]="chapter.id">
                        Ch. {{ chapter.ordinal}} - {{ chapter.title }}
                    </option>
                </select>
                <select [(ngModel)]="page" (ngModelChange)="pageChange(page - 1)" *ngIf="!settings.scroll.value">
                    <option *ngFor="let page of chapter?.pages; let i = index" [value]="i + 1">
                        #{{ i + 1 }}
                    </option>
                </select>
                <div class="counts" *ngIf="!settings.scroll.value">
                    of {{ chapter?.pages?.length }}
                </div>
            </div>

            <div class="mobile-bump"></div>

            <ng-container *ngIf="!settings.hideExtraButtons.value">
                <button (click)="bookmarkPage()">
                    <cba-icon [fill]="bookmarks.indexOf(page) !== -1">bookmark</cba-icon>
                </button>
    
                <button (click)="showBookmarks()">
                    <cba-icon>bookmarks</cba-icon>
                </button>
            </ng-container>
            <button (click)="settingsShow()">
                <cba-icon>settings</cba-icon>
            </button>
            <button (click)="nextPage()" [disabled]="!hasNextPage" *ngIf="!settings.scroll.value">
                <cba-icon>navigate_next</cba-icon>
            </button>
            <button (click)="nextChap()" [disabled]="!hasNextChapter">
                <cba-icon>skip_next</cba-icon>
            </button>
        </header>
        <main [ngClass]="{ 'fit': settings.fitToWidth.value, 'scroll': settings.scroll.value, 'invert': settings.invert.value }" #scrollcont>
            <ng-container *ngIf="settings.scroll.value">
                <button class="scroll-button" (click)="prevChap()" [disabled]="!hasPreviousChapter">
                    <cba-icon>skip_previous</cba-icon>
                </button>

                <img *ngFor="let page of chapter?.pages" [proxy]="page" />

                <button class="scroll-button" (click)="nextChap()" [disabled]="!hasNextChapter">
                    <cba-icon>skip_next</cba-icon>
                </button>
            </ng-container>
            <ng-container *ngIf="!settings.scroll.value">
                <img [proxy]="pageImage" />
                <div class="page" [style.background-image]="'url('+ proxy(pageImage) +')'"></div>
                <!--Cache the next page so it loads faster-->
                <div class="next" [style.background-image]="'url(' + proxy(nextPageImage) + ')'"></div>
                <button class="left" (click)="prevPage()" [disabled]="!hasPreviousPage" *ngIf="!settings.noDirectionalButton.value"></button>
                <button class="right" (click)="nextPage()" [disabled]="!hasNextPage" [ngClass]="{ 'fill' : settings.noDirectionalButton.value }"></button>
            </ng-container>
        </main>
        <ng-container *ngIf="!settings.scroll.value && settings.progressBar.value">
            <div class="progress-bar pages" [class]="settings.progressBar.value">
                <a class="progress" *ngFor="let p of chapter?.pages; let i = index"
                   [ngClass]="{ 'active': i <= page - 1 }"
                   (click)="pageChange(i)"></a>
            </div>
            <!-- <div class="progress-bar">
                <div class="progress" *ngFor="let chap of chapters"
                    [ngClass]="{ 'active': chap.ordinal <= (chapter?.ordinal || 0)}"></div>
            </div> -->
        </ng-container>
        <button class="float-icon" (click)="settingsShow()" *ngIf="settings.hideHeader.value">
            <cba-icon>settings</cba-icon>
        </button>
    </section>
</cba-container>

<cba-popup #popup color="var(--color-funimation)">
    <h2>Settings</h2>
    <div class="settings">
        <section>
            <label>
                <input type="checkbox" [(ngModel)]="settings.invertControls.value" />
                Invert Controls
            </label>
        </section>
        <section>
            <label>
                <input type="checkbox" [(ngModel)]="settings.fitToWidth.value" />
                Fit to Width
            </label>
        </section>
        <section>
            <label>
                <input type="checkbox" [(ngModel)]="settings.scroll.value" />
                Scroll through Chapter
            </label>
        </section>
        <section>
            <label>
                <input type="checkbox" [(ngModel)]="settings.hideHeader.value" />
                Hide Header
            </label>
        </section>
        <section>
            <label>
                <input type="checkbox" [(ngModel)]="settings.invert.value" />
                Invert Colors (It's cursed)
            </label>
        </section>
        <section>
            <label>
                <input type="checkbox" [(ngModel)]="settings.noDirectionalButton.value" />
                No Directional Buttons
            </label>
        </section>
        <section>
            <label>
                <input type="checkbox" [(ngModel)]="settings.hideExtraButtons.value" />
                Hide Extra Buttons in Header
            </label>
        </section>
        <section><label>How much to scroll on key event:</label></section>
        <section>
            <div class="select-list fill">
                <input type="number" class="fill" step="10" [(ngModel)]="settings.scrollAmount.value" />
            </div>
        </section>
        <section><label>Page Progress Bar:</label></section>
        <section>
            <div class="select-list fill">
                <select [(ngModel)]="settings.progressBar.value" class="fill">
                    <option *ngFor="let opt of progressBarOptions" [value]="opt">
                        {{ opt || 'none' }}
                    </option>
                </select>
            </div>
        </section>
        <section><label>Chapters:</label></section>
        <section>
            <div class="select-list fill">
                <button (click)="prevChap()" [disabled]="!hasPreviousChapter">
                    <cba-icon>skip_previous</cba-icon>
                </button>
                <select [(ngModel)]="chapterId" (ngModelChange)="pageChange(0)">
                    <option *ngFor="let chapter of chapters" [value]="chapter.id">
                        Ch. {{ chapter.ordinal }} - {{ chapter.title }}
                    </option>
                </select>
                <button (click)="nextChap()" [disabled]="!hasNextChapter">
                    <cba-icon>skip_next</cba-icon>
                </button>
            </div>
        </section>
        <section *ngIf="!settings.scroll.value"><label>Pages:</label></section>
        <section *ngIf="!settings.scroll.value">
            <div class="select-list fill">
                <button (click)="prevPage()" [disabled]="!hasPreviousPage">
                    <cba-icon>navigate_before</cba-icon>
                </button>
                <button (click)="pageChange(0)">
                    <cba-icon>restart_alt</cba-icon>
                </button>
                <select [(ngModel)]="page" (ngModelChange)="pageChange(page - 1)">
                    <option *ngFor="let page of chapter?.pages; let i = index" [value]="i + 1">
                        Page: #{{ i + 1 }}
                    </option>
                </select>
                <button (click)="nextPage()" [disabled]="!hasNextPage" *ngIf="!settings.scroll.value">
                    <cba-icon>navigate_next</cba-icon>
                </button>
            </div>
        </section>
    </div>
</cba-popup>

<cba-popup #bookmarkspopup>
    <h2>Bookmarks</h2>
    <div class="bookmarks">
        <ng-container *ngFor="let bk of data?.bookmarks">
            <a *ngFor="let page of bk.pages" [routerLink]="['/manga', id, bk.mangaChapterId, page]">
                Ch. {{ getChapter(bk.mangaChapterId)?.ordinal }} - 
                {{ getChapter(bk.mangaChapterId)?.title }} 
                P. {{ page }}
            </a>
        </ng-container>
    </div>
</cba-popup>