$progress-height: 4px;
$select-list-padding: 10px;

.context {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

header {
    display: flex;
    flex-flow: row;
    position: relative;

    button, a {
        margin: auto 5px;
        padding: 5px;
        outline: none;
        border: none;
        background-color: transparent;
        color: var(--text-color);
        cursor: pointer;
        text-decoration: none;
        text-align: center;

        &:disabled {
            color: var(--text-color-muted);
            cursor: not-allowed;
        }
    }
}

main {
    flex: 1;
    display: flex;
    flex-flow: row;
    overflow: hidden;
    position: relative;

    .page {
        flex: 1;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    img {
        display: none;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .left, .right {
        position: absolute;
        top: 0;
        width: 50%;
        outline: none;
        height: 100%;
        border: none;
        background: transparent;
        cursor: pointer;
        
        &:disabled {
            color: var(--text-color-muted);
            cursor: not-allowed;
        }
    }

    .right {
        right: 0;
    }

    .scroll-button {
        outline: none;
        text-align: center;
        background: transparent;
        border: none;
        color: var(--text-color);
        padding: 15px;
        display: flex;
        flex-flow: row;
        cursor: pointer;

        :first-child {
            margin-left: auto;
        }

        :last-child {
            margin-right: auto;
        }

        span {
            margin: auto 5px;
        }
    }

    &.fit {
        overflow-y: auto;
        overflow-x: hidden;
        
        img {
            display: block;
            width: 100%;
            max-width: unset;
            max-height: unset;
        }

        .page {
            display: none;
        }
    }

    &.scroll {
        overflow-y: auto;
        overflow-x: hidden;
        flex-flow: column;

        img {
            display: block;
            max-width: 100%;
            max-height: unset;
        }
    }

    &.invert {
        img {
            filter: invert(100%)
        }

        .page {
            filter: invert(100%)
        }
    }

}

.progress-bar {
    height: $progress-height;

    display: flex;
    flex-flow: row;

    .progress {
        flex: 1;
        background-color: var(--accent-2);
        transition: all 250ms;

        &.active {
            background-color: var(--color-hidive);
        }
    }

    &.left {
        position: absolute;
        top: 0;
        left: 0;
        width: $progress-height;
        height: 100%;
        flex-flow: column;
    }

    &.right {
        position: absolute;
        top: 0;
        right: 0;
        width: $progress-height;
        height: 100%;
        flex-flow: column;
    }
}

.float-icon {
    position: absolute;
    top: 5px;
    right: 20px;
    outline: none;
    border: none;
    background-color: var(--brd-color-accent);
    padding: 10px;
    border-radius: 50%;
    color: var(--text-color);
    cursor: pointer;

    &:disabled {
        color: var(--text-color-muted);
        cursor: not-allowed;
    }
}

h2 {
    padding: 0;
    margin: 5px 0;
}

.select-list {
    display: flex;
    flex-flow: row;
    margin: 5px auto;

    select, input {
        outline: none;
        border: 1px solid var(--accent-2);
        background-color: var(--bg-accent);
        color: var(--text-color);
        max-width: 240px;
        padding: $select-list-padding;

        option {
            background-color: transparent;
            color: var(--text-color);
        }

        &.fill {
            flex: 1;
            max-width: 100%;
        }
    }

    button {
        outline: none;
        border: 1px solid var(--accent-2);
        background: var(--bg-accent);
        padding: #{$select-list-padding / 2};
        color: var(--text-color);
        cursor: pointer;

        &:disabled {
            color: var(--text-color-muted);
            cursor: not-allowed;
        }
    }

    .counts {
        border: 1px solid var(--accent-2);
        background-color: var(--bg-accent);
        padding: $select-list-padding;
        border-left: none;
    }

    :first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    :not(:first-child) {
        border-left: none;
    }

    :last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    :not(:first-child):not(:last-child) {
        border-radius: 0;
    }

    select, input, button, .counts {
        margin: 0;
    }

    &.fill {
        width: 100%;
    }
}

.settings {
    section {
        margin-top: 5px;
        .select-list {
            width: 100%;
            select {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    header {
        .select-list {
            display: none;
        }

        .mobile-bump {
            flex: 1;
        }
    }
}