$progress-height: 4px;
$select-list-padding: 10px;

.context {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

header {
    display: flex;
    flex-flow: row;
    position: relative;

    button, a {
        margin: auto 0;
        padding: 5px;
        outline: none;
        border: none;
        background-color: transparent;
        color: var(--text-color);
        cursor: pointer;
        text-decoration: none;
        text-align: center;

        &:disabled {
            color: var(--text-color-muted);
            cursor: not-allowed;
        }

        &:first-child {
            margin-left: 5px;
        }

        &:last-child {
            margin-right: 5px;
        }
    }
}

main {
    flex: 1;
    display: flex;
    flex-flow: row;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    .page {
        flex: 1;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    img {
        display: none;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
    }

    .left, .right {
        position: absolute;
        top: 0;
        width: 50%;
        outline: none;
        height: 100%;
        border: none;
        background: transparent;
        cursor: pointer;
        
        &:disabled {
            color: var(--text-color-muted);
            cursor: not-allowed;
        }

        &.fill {
            width: 100%;
        }
    }

    .right {
        right: 0;
    }

    .scroll-button {
        outline: none;
        text-align: center;
        background: transparent;
        border: none;
        color: var(--text-color);
        padding: 15px;
        display: flex;
        flex-flow: row;
        cursor: pointer;

        :first-child {
            margin-left: auto;
        }

        :last-child {
            margin-right: auto;
        }

        span {
            margin: auto 5px;
        }
    }

    &.fit-width {
        overflow-y: auto;
        overflow-x: hidden;
        
        img {
            display: block;
            width: 100%;
            max-width: unset;
            max-height: unset;
        }

        .page {
            display: none;
        }
    }

    &.natural-img-size {
        overflow-y: auto;
        overflow-x: hidden;

        img {
            display: block;
            width: unset;
            height: unset;
            max-width: 100%;
            max-height: unset;
        }

        .page {
            display: none;
        }
    }

    &.scroll {
        overflow-y: auto;
        overflow-x: hidden;
        flex-flow: column;

        img {
            display: block;
            max-width: 100%;
            max-height: unset;
        }
    }

    &.invert {
        img, .page {
            filter: invert(100%)
        }
    }

    &.blue-light-low-brightness {
        img, .page {
            filter: sepia(40%) saturate(200%) brightness(60%);
        }
    }

    &.blue-light {
        img, .page {
            filter: sepia(40%) saturate(200%);
        }
    }

    &.blue-print {
        img, .page {
            filter: sepia(100%) saturate(500%) hue-rotate(180deg);
        }
    }

    &.custom {
        img, .page {
            filter: var(--custom-image-filter);
        }
    }

}

.progress-bar {
    position: absolute;
    display: flex;
    flex-flow: row;

    .progress {
        flex: 1;
        background-color: var(--accent-2);
        transition: all 250ms;
        cursor: pointer;

        &.active {
            background-color: var(--color-hidive);
        }
    }

    &.bottom {
        width: 100%;
        height: $progress-height;
        bottom: 0;
        left: 0;

        .progress {
            height: 100%;
        }

        &:hover {
            height: #{$progress-height * 2};
        }
    }

    &.left, &.right {
        position: absolute;
        top: 0;
        height: 100%;
        flex-flow: column;
        width: $progress-height;

        .progress {
            width: 100%;
            height: 100%;
        }

        &:hover {
            width: #{$progress-height * 2};
        }
    }

    &.left {
        left: 0;
    }

    &.right {
        right: 0;
    }
}

h2 {
    padding: 0;
    margin: 5px 0;
}

.select-list {
    display: flex;
    flex-flow: row;
    margin: 5px auto;

    select, input {
        outline: none;
        border: 1px solid var(--accent-2);
        background-color: var(--bg-accent);
        color: var(--text-color);
        max-width: 240px;
        padding: $select-list-padding;

        option {
            background-color: transparent;
            color: var(--text-color);
        }

        &.fill {
            flex: 1;
            max-width: 100%;
        }
    }

    button, a {
        outline: none;
        border: 1px solid var(--accent-2);
        background: var(--bg-accent);
        padding: calc(#{$select-list-padding} / 2);
        margin: 0;
        color: var(--text-color);
        line-height: 100%;
        cursor: pointer;
        text-decoration: none;
        text-align: center;

        &:disabled {
            color: var(--text-color-muted);
            cursor: not-allowed;
        }
    }

    .counts {
        border: 1px solid var(--accent-2);
        background-color: var(--bg-accent);
        padding: $select-list-padding;
        border-left: none;
    }

    :first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    :not(:first-child) {
        border-left: none;
    }

    :last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    :not(:first-child):not(:last-child) {
        border-radius: 0;
    }

    select, input, button, .counts {
        margin: 0;
    }

    &.fill {
        width: 100%;
    }
}

.settings {
    section {
        margin-top: 5px;
        .select-list {
            width: 100%;
            select {
                width: 100%;
            }
        }
    }
}

.bookmarks {
    display: flex;
    flex-flow: column;
}

.links {
    display: flex;
    flex-flow: column;

    button, a {
        display: flex;
        flex-flow: row;
        outline: none;
        background-color: var(--bg-accent);
        border: 1px solid var(--accent-2);
        color: var(--text-color);
        text-align: left;
        font-size: 16px;
        text-decoration: none;
        padding: calc(#{$select-list-padding} / 2);
        cursor: pointer;
        margin: 0;

        .icon {
            margin: auto 5px;
        }

        .text {
            margin: auto 0;
        }

        &:not(:first-child) {
            border-top: none;
        }
    }
}

@media only screen and (max-width: 720px) {
    header {
        .select-list {
            display: none;
        }

        .mobile-bump {
            flex: 1;
        }
    }
}